﻿@model Monitoring.Models.RegistrationRequestModel
@using Account.DAO
@{
    ViewBag.Title = "Редактирование пользователя системы мониторинга СПО";

    var StatusValues = RegionService.GetAll();
    var StatusList = new SelectList(StatusValues, "Id", "Name");

    List<string> listRole = new List<string>();
    listRole.Add("Администратор");
    listRole.Add("Пользователь");    
    var RoleList = new SelectList(listRole);
}

<h3>Редактирование пользователя системы мониторинга СПО</h3>

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken();
    <table class="table-layout ">
        <colgroup><col style="width: 350px">
        </colgroup><tbody>
           
            <tr>
                <td class="tar">@Html.LabelFor(m => m.Login)<span class="small">(адрес электронной почты)</span><span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Login)</td>
                <td>@Html.TextBoxFor(m => m.Login,new Dictionary<string, object>(){{"readonly", "true"}})</td>
                <td class="tar">@Html.LabelFor(m => m.RegionUser)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.RegionUser)</td>               
                <td>@Html.DropDownListFor(m => m.RegionUser, StatusList)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Password)</td>
                <td id="password">@Html.HiddenFor(m => m.Password)<input class="btn" type="submit" value="Сбросить пароль" onclick="return resetPassword()" /></td>
                <td class="tar">@Html.LabelFor(m => m.FIO)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.FIO)</td>
                <td>@Html.TextBoxFor(m => m.FIO)</td>
            </tr>
            <tr>                 
                <td class="tar">@Html.LabelFor(m => m.Role)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Role)</td>
                
                 <td>@Html.DropDownListFor(m => m.Role, RoleList)</td>     
            </tr>
            <tr>
                <td></td>
                <td><span style="color: red">*</span> - поля обязательные для заполнения</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Сохранить" onclick="return tryToSubmit()" /></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="window.location='@Url.Action("UserMonitoring", "Home")'; return false" /></td>
            </tr>
        </tbody>
    </table>
    }
</div>

<div class="clear"><br/></div>

@section scripts {
<script type="text/javascript">
    function resetPassword() {
        $.post(
                '@Url.Action("ResetPassword", "Account")',
                function (data) {
                    $('#password').html(data);
                }
            );
        return false;
    }
    </script>
}
