﻿@model Monitoring.Models.LoginModels
@{
    ViewBag.Title = "Вход в систему мониторинга СПО";
    var ValidationErrors = Html.ValidationSummary(true);
}

<div class="content">

<section id="loginForm" class="login-form">
    
    <h2>Вход в систему мониторинга СПО</h2>
    <div class="clear"></div>
    <!-- LOGIN -->
    <section class="auth">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "login-field-empty" })<br />
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        <br />
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "login-field-empty" })<br />
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        <br />    
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" }) 
        <br />      
        
       <input class="clearfix btn fr" type="submit" value="Войти" />
    </fieldset>
    }
    </section>
    @if (ValidationErrors != null)
    {
    <div style="position: relative; float: left; width: 0px; height: 0px;"><div class="layout error-box dbi" style="position: relative; top: -60px; left: 13px; float: left; min-width: 280px;">@ValidationErrors</div></div>
    }        
</section>


<!-- NEWS -->
<div class="news">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function safeLogin() {
        var safeHost = "https://" + window.location.host;
        var safeUrl = safeHost + $("form").attr("action").replace(safeHost, "");
        $("form").attr("action", safeUrl);
    }    
</script>
