html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; 	padding: 0; 	border: 0; 	font-size: 100%; 	font: inherit; 	vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ======================================================
   General
   ====================================================== */
html,
body {
    width: 100%;
    height: 100%;
}

html { background: #f6f6ee; }
body { font: 14px/1.4 Arial, sans-serif; }
#wrapper {
    padding: 0 20px;
    min-height: 100%;
    position: relative;
    min-width: 950px;
}

.limit {
    max-width: 1100px;
}

p {
    margin: 0 0 20px;
}
/* Layouts
   ====================================================== */

.layout {
    border-radius: 15px;
    padding: 15px;
    margin: 0 0 30px;
    behavior: url(../Scripts/PIE.htc);
}
.layout-dark { background: #e7e7de; }
.error-box {
    background: #f5e0d9;
    color: #a90000;
}
.error-box li {
    display: block;
}

/* Behaviour classes
   ====================================================== */

.clear { clear: both; }
.small { font-size: 85%; }
.fl { float: left;}
.fr {float: right}
.dbi { display: inline-block; }

.bordered {
    border-bottom: 1px dashed;
}

.bordered:last-child {
    border-color: transparent !important;
}
/* Colors
   ====================================================== */

a { color: #0077b3; }
a:hover { color: #d50505; }

.positive { color: #378701; }
.negative { color: red; }

/* Btns
   ====================================================== */

.btn {
    display: inline-block;
    color: #000;
    cursor: pointer;
    padding: 6px 21px;
    box-shadow: 0 1px 0 #7f7f7f;
    border-radius: 5px;
    border: 1px solid #d0c86f;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    background: #ddd68a;
    background: -moz-linear-gradient(top, #ddd68a 0%, #d0c86e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd68a), color-stop(100%,#d0c86e));
    background: -webkit-linear-gradient(top, #ddd68a 0%,#d0c86e 100%);
    background: -o-linear-gradient(top, #ddd68a 0%,#d0c86e 100%);
    background: -ms-linear-gradient(top, #ddd68a 0%,#d0c86e 100%);
    background: linear-gradient(to bottom, #ddd68a 0%,#d0c86e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd68a', endColorstr='#d0c86e',GradientType=0 );
}

.btn:hover {
    background: #ece480;
    color: #000;
    background: -moz-linear-gradient(top,  #ece480 0%, #e4da64 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ece480), color-stop(100%,#e4da64));
    background: -webkit-linear-gradient(top,  #ece480 0%,#e4da64 100%);
    background: -o-linear-gradient(top,  #ece480 0%,#e4da64 100%);
    background: -ms-linear-gradient(top,  #ece480 0%,#e4da64 100%);
    background: linear-gradient(to bottom,  #ece480 0%,#e4da64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ece480', endColorstr='#e4da64',GradientType=0 );
}
.btn:disabled
{
    background: #e1e1e1;
}

.submit-btn {
    background: url(../Images/submit-btn.png) left top no-repeat;
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.submit-btn:hover {
    background-position: 0 100%;
}

/* From elems
   ====================================================== */

input[type="text"],
textarea,
input[type="password"] {
    color: #565656;
    font-size: 22px;
    margin: 5px 0 5px;
    width: 100%;
    background: #EBEBD8;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0px 1px 1px #cacac3;
}


input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus {
    background: white;
    border: 2px solid #b3a626;
    padding: 3px;
    box-shadow: none;
}

textarea {
    width: 600px;
    height: 200px;
}

input[type='checkbox'] {
    vertical-align: -2px;
    margin: 0 4px 0 0;
}

.in_row input[type="text"],
.upload-item input[type="text"] {
    background: #f6f6ee;
}

/* Tables
   ====================================================== */

.table-container {
    margin: 0 0 0 -60px;
}

.table-layout {
    background: #fff;
    border-radius: 15px;
    behavior: url(../Scripts/PIE.htc);
}

table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border-color: #B3A724;
    border-width: 0 0 1px;
    font-size: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 100%;
}


/*LINKS*/

.red a{
    color: #D50505;
}

a.desc {
    background-image: url(../Images/sort-decrease.png);
}
a.asc {
    background-image: url(../Images/sort-increase.png);
}

a.sorted {
    padding: 0 0 0 10px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-position: left 7px;
    background-repeat: no-repeat;
    line-height: 1.3;
}

a.sorted span {
    border-bottom: 1px dashed;
}

/* Cells */

th {
    border-bottom: 1px solid #B3A724;
    color: #666;
    font-size: 11px;
    font-weight: normal;
    padding: 0.5em 0.8em;
    vertical-align: middle;
}

td {
    color: #000;
    font-size: 9pt;
    line-height: 1.38em;
}

tr td:nth-child(odd) {
    color: #666;
}


th, td {
    text-align: left;
    vertical-align: middle;
    padding: 8px 15px;
}


.in_row th {
    background: none repeat scroll 0 0 #e7e7de;
    border: medium none;
    min-width: 80px;
}

/*ODD STYLE*/

tbody tr.odd {
    background: #fafaf6;
}

/* Condition links
   ====================================================== */

.condition-link {
    background: no-repeat 0 2px;
    display: inline-block;
    padding: 0 0 0 24px;
}

.cond-not-yet,
.cond-err { color: #c02525;}
.cond-not-yet:hover,
.cond-err:hover { color: #000;}
.cond-ok:hover { color: #378701;}

.cond-not-yet { background-image: url(../Images/clock.png);}
.cond-err { background-image: url(../Images/warn.png);}
.cond-ok { background-image: url(../Images/ok.png);}

/* ======================================================
   Header
   ====================================================== */

.header {
    padding: 1px;
    margin: 0 0 50px;
}

.logo {
    float: left;
    margin: 0 20px 0 0;
}

.header > h1 {
    font-family: "Times New Roman", serif;
    font-size: 22px;
    margin: 27px 18px 9px;
}

.header-note {
    position: relative;
    margin: 0 0 0 110px;
    font-size: 11px;
    line-height: 1.4;
}

.header-note-pointer {
    position: absolute;
    right: 100%;
    margin: 0 5px 0 0;
}

/* ======================================================
   Content
   ====================================================== */

.content {
    position: relative;
    padding: 0 20px 0px 62px;

}

.content h2 {
    font-size: 18pt;
    margin: 0 0 20px;
}

/* User panel
   ====================================================== */

.user-panel {
    position: relative;
    padding: 0 100px 0 0;
    margin: 0 0 15px;
}
.user-info {
    color: #000;
    font-size: 24px;
}

.user-panel-exit {
    color: #d50505;
    background: url(../Images/close-btn.png) left top no-repeat;
    position: absolute;
    display: inline-block;
    padding: 2px 0 5px 35px;
    top: 50%;
    margin: -12px 0 0;
    right: 0;
}
.user-panel-exit:hover {
    color: #000;
    background-position: 0 -35px;
}

/* Section navigation
   ====================================================== */

.section-nav {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 20px;
}
.section-nav-regular {
    display: inline-block;
    padding: 9px 15px;
    behavior: url(../Scripts/PIE.htc);
}
.section-nav-regular.active {
    background: #d1e1ee;
    color: #000;
    text-shadow:0 1px rgba(255, 255, 255, .6);
    border-radius: 15px;
    text-decoration: none;
    position: relative;
}

/* Hilited section */
.section-nav-hilite {
    background: #fff;
    display: inline-block;
    padding: 0 10px 0 20px;
    border-radius: 0 15px 15px 0;
    margin: 0 0 0 -20px;
    behavior: url(../Scripts/PIE.htc);
}

.section-nav-hilite {
    font-size: 14px;
}

.section-nav-hilite .section-nav-regular {
    padding-top: 11px;
    padding-bottom: 9px;
}
.section-nav-hilite .section-nav-regular.active {
    background: none;

}


/*LOGIN PANEL*/

.content .auth {
    height: 270px;
    width: 318px;
    background: white;
    border-radius: 20px;
    float: left;
    margin: 0 0 30px 0;
    behavior: url(../Scripts/PIE.htc);
}

.login-form label {
    display: block;
    font-size: 12px;
    margin: 0 0 10px;
}

.login-form fieldset {
    margin: 0 0 0 0px;
    padding: 30px;
}
.login-form input[type="text"], .login-form input[type="password"] {
    color: #565656;
    font-size: 22px;
    margin: 0 0 10px;
    width: 96%;
    background: #EBEBD8;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0px 1px 1px #cacac3;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus {
    color: #565656;
    font-size: 22px;
    margin: 0 0 10px;
    width: 96%;
    background: white;
    border-radius: 5px;
    border: 2px solid #b3a626;
    padding: 3px;
    box-shadow: none;
}

.login-form input[type="checkbox"] {
    float: left;
    margin: 0 10px 0 0;
    background: #f6f6ee;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px #cacac3;
}

.login-form label.check{
    color: #69694f;
}



.login-form .form {
    color: #565656;
    padding: 20px;
}

.login-form a.ssl-cert {
    margin: 8px 0;
}

/*LINKS PANEL*/

.content .links {
    height: 345px;
    background: #e7e7de;
    margin: 0 0 30px 330px;
    border-radius: 20px;
    font-size: 11pt;
    behavior: url(../Scripts/PIE.htc);
    max-width: 540px;
}

.links ul li {
    list-style-type: none;
    margin: 0px;
    padding: 15px 30px;
    border-bottom: 1px dashed white;
}

.links ul li a {
    background: url("../Images/link-icons-sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    padding: 0px 45px;
    line-height: 32px;
    font-style:italic;
}

.links a {
    color: black;
}
.links a:hover {
    color: #d50505;
}

.links ul li a.reg {
    background-position: 0px 0px;
}

.links ul li a.reports {
    background-position: 0px -33px;
}

.links ul li a.ankets {
    background-position: 0px -68px;
}

.links ul li a.instruction    
{
    height: 82px; 
    background: url("../Images/instruction.png") no-repeat scroll 0 0 transparent;
    background-position: 0px 0px;
}



.links .info {
    padding: 35px 35px;
}

.links .info p{
    float: left;
    font-size: 9pt;
    margin: 0 4% 0 0;
}

.links .info span{
    font-size: 12pt;

}

.links .info span a{
    color: #0077b3;
    }
.links .info span a:hover {
    color: #d50505;
}

/*NEWS*/

.news {
    width: 80%;
    float: left;
}

.news h2 a{
    color: #a19418;
    font-size: 14pt;
}


article.news-item {
    margin: 15px 0;
}

.news-item p {
    font-size: 11pt;
    padding: 10px 15px;
}

/*YEARS*/
.years {
    float: right;
    width: 15%;
}

.years a {
    color: #a19418;
    margin: 3px 0;
}
.years a:hover {
    color: #000;
}

.years ul li {
    list-style-type: none;
    margin: 5px 0;
}

.years ul li ul{
    margin: -24px 0 0 40px;
}

/*FOOTER*/
#footer {
    padding: 0 25px 20px;
    position: relative;
    left: 0; right: 0;
    bottom: 0;
}

#footer:before {
    display: block;
    content: '';
    width: 180px;
    height: 3px;
    background: #a19418;
    margin: 20px 0;
}

/*PAGER*/

div.pager {
    text-align: left;
}

div.pager span,
div.pager span a,
div.sizes span,
div.sizes span a {
    display: inline-block;
    behavior: url(../Scripts/PIE.htc);

}
div.pager span a,
div.sizes span a {
    padding: 4px 10px 6px;
}

div.pager span.selected, div.sizes span.selected {
    font-family: Verdana;
    background: #d1e1ee;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    text-shadow: 0 1px rgba(255, 255, 255,.6);
}


/*SIZES*/

.sizes {
    margin: 22px 0 0;
    float: right;
}

.sizes-label {
    margin: 0 10px 0 0;
}

/*ARROWS*/

.arrows a,
.arrows span {
    font-size: 14px;
    margin: 7px 10px 7px 0;
    display: inline-block;
}

/* ======================================================
   Participants
   ====================================================== */

.user-name {
    background: url(../Images/user.png) left top no-repeat;
    padding: 0 0 0 20px;
}

.edit-nav {
    margin: 10px 0 0;
}

.edit-nav .edit-nav-item {
    margin: 0 2px 0 0;
}

.edit-nav-item {
    background-image: url(../Images/edit-icons.png);
    display: inline-block;
    width: 23px;
    height: 23px;
}

.edit-nav-item.edit-info { background-position: 0 0; }
.edit-nav-item.edit-remove { background-position: 23px 0; }
.edit-nav-item.edit-edit { background-position: 46px 0; }

.edit-nav-item.edit-info:hover { background-position: 0 100%; }
.edit-nav-item.edit-remove:hover { background-position: 23px 100%; }
.edit-nav-item.edit-edit:hover { background-position: 46px 100%; }


/* ======================================================
   Requisites
   ====================================================== */

.requisites-table {}
.requisites-table td { padding: 15px; }

/* Options */
.requisites-opt {
    padding: 0;
}

.requisites-opt-item {
    line-height: 1;
    font-size: 12px;
    padding: 15px 20px;
    border-color: #fff;
}

.requisites-opt-item input[type='checkbox'] {
    margin: 0 17px 0 8px;
}

.pass-change {
    color: #000;
    background: url(../Images/pass.png) left top no-repeat;
    padding: 0 0 5px 42px;
    font-size: 14px;
    font-family: Georgia, serif;
    font-style: italic;
    display: inline-block;
}

/* ======================================================
   Upload file
   ====================================================== */

.upload-form {
    float: left;
}
.upload-form .layout { padding: 0; }
.upload-form .bordered {
    border-color: #fff;
}

.upload-item {
    padding: 15px;
    margin: 0;
}

.upload-form label {
    display: block;
    margin: 0 0 3px;
}

.upload-form input[type='text'] {
    width: 420px;
}

input[type='file'] {
    border: 1px solid;
}

.field-validation-error {
    color: Red;
}

.filter-clear {
    float: left;
    font-family: Verdana;
    font-size: 24px;
    background: #D1E1EE;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    text-shadow: 0 1px rgba(255, 255, 255, .6);
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
}

.filter-container {
    position: relative;
}

.filter-clear-single {
    position: absolute;
    right: -4px;
    top: 11px;
    font-family: Verdana;
    font-size: 17px;
    background: #D1E1EE;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    text-shadow: 0 1px rgba(255, 255, 255, .6);
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
}

.filter-clear:hover, .filter-clear-single:hover {
    opacity: 1.0;
    color: #000;
}

.login-field-empty {
    float: right;
}

.maxwidth {
    max-width: 570px;
}

.date {
    width: 200px;
}