﻿@model Account.Models.NewsModel
@{
    ViewBag.Title = "Редактирование новости - Федеральная Служба по Финансовым Рынкам";
}

<h2>Редактирование новости</h2>

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken();
    <table class="table-layout ">
        <colgroup><col style="width: 250px">
        </colgroup><tbody>
            <tr>
                <td class="tar">@Html.TextAreaFor(m => m.Body)</td>
            </tr>
            <tr>
                <td class="tar"><input class="btn" type="submit" value="Сохранить" /></td>
            </tr>
        </tbody>
    </table>
    }
</div>
