﻿@model IEnumerable<Account.DAO.News>
@{
    var months = new Dictionary<int, string> {
        {1, "Январь"},
        {2, "Февраль"},
        {3, "Март"},
        {4, "Апрель"},
        {5, "Май"},
        {6, "Июнь"},
        {7, "Июль"},
        {8, "Август"},
        {9, "Сентябрь"},
        {10, "Октябрь"},
        {11, "Ноябрь"},
        {12, "Декабрь"}
    };
    var timing = (Dictionary<int, List<int>>)Session["NewsTiming"];
}

<div class="news">
    <h2 class="news"><a href="/">Новости</a></h2>

    <div class="clear"></div>

    @foreach (var n in Model) {
        var body = new HtmlString(n.Body);

        <article class="news-item">
            <span class="date"><b>@n.DatePosted.ToShortDateString()</b></span>
            <p>@Html.Raw(body)</p>
        </article>
    }

</div>

<!-- YEARS -->
<div class="years">
    <ul>
        @foreach (var item in timing.OrderByDescending(p => p.Key)) {
            <li><a href="#" onclick="showNews(@item.Key)">@item.Key</a>
            <ul>
            @foreach (var month in item.Value.OrderByDescending(m => m)) {
                <li><a href="#" onclick="showNews(@item.Key, @month)">@months[month]</a></li>
            }
            </ul></li>
        }
</div>