﻿@model Account.Models.FilterTableModel<Account.Models.NewsModel, Account.DAO.News>
@using Account.Helpers

@{
    ViewBag.Title = "Управление новостями - Федеральная Служба по Финансовым Рынкам";
}

<div class="table-container">
    <form method="post">
        @Html.HiddenFor(m => m.DataList.Page, new { Class="Page-value" })
        @Html.HiddenFor(m => m.DataList.PageSize, new { Class = "PageSize-value" })
        @Html.HiddenFor(m => m.SortingField, new { Class = "SortingField-value" })
        @Html.HiddenFor(m => m.SortingType, new { Class = "SortingType-value" })
        <div id="reports">
            @FilterTableHelper.FilterTable(Model)
            @if (Model.DataList.DataQuery.Count() == 0)
            {
                <div style="width: 300px; margin: 0 auto;">Новостей нет</div>
            }
        </div>
    </form>
</div>

@FilterTableHelper.FilterTablePaging(Model)

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(document).ready(function () {
            $('.date').parent().parent().addClass('date');
        });

    function confirmDelete(id) {
        result = confirm("Вы уверены что хотите удалить выбранную новость?")
        if (result) {
            $.post(
                '@Url.Action("Remove", "News")',
                { 'id': id, 'returnUrl': '@Request.Url.AbsoluteUri' },
                function (data) {
                    window.location.reload();
                }
            );
        }
        return result;
    }

    function setSorting(e) {
            $e = $(e);
            $('.SortingField-value').val($e.attr('id'));
            if ($e.hasClass('desc'))
                $('.SortingType-value').val('asc');
            else
                $('.SortingType-value').val('desc');
        }

        function setSize(e) {
            $e = $(e);
            $('.PageSize-value').val($e.text());
            $('.Page-value').val(0);
        }

        function goBack() {
            $('.Page-value').val(parseInt($('.Page-value').val()) - 1);
        }

        function goNext() {
            $('.Page-value').val(parseInt($('.Page-value').val()) + 1);
        }

        function goTo(page) {
            $('.Page-value').val(parseInt(page) - 1);
        }

        function clearFilters(filter) {
            if (!filter)
                $('.filter-container input').val('');
            else
                $('#' + filter).val('');
        }
    </script>
}