﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Федеральная Служба по Финансовым Рынкам</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("Header", false);
    </head>
    <body>
    @RenderPage("_LoginPartial.cshtml")
       
         @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - ФСФР России</p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jqueryui")        
        @RenderSection("scripts", required: false)
    </body>
</html>
