﻿ @if (Request.IsAuthenticated)
 {
     string role = (User.AccountMonitoring != null) && User.AccountMonitoring.IsAdmin ? "Администратор" : "Пользователь";
    <header>
            <div class="content-wrapper">
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                         @if ((User.AccountMonitoring != null) && (User.AccountMonitoring.IsAdmin))
                         {
                          <li>@Html.ActionLink("Управление пакетами", "Workflow", "Home")</li>
                             <li>@Html.ActionLink("Управление пользователями", "UserMonitoring", "Home")</li>
                         }
                              
                            <li>@Html.ActionLink("Статистика по статусам", "Statuses", "Home")</li>
                            <li>@Html.ActionLink("Подробная статистика", "Packages", "Home")</li>
                            <li>@Html.ActionLink("Отчет о повторной подаче документов", "PackagesHistoryReport", "Home")</li>                            
                            <li>@Html.ActionLink("Статистика по пользователям", "Users", "Home")</li>
 							<li>@Html.ActionLink("Статистика по запросам на подключение к ЛК", "UserRegister", "Home")</li>
                            <li>@Html.ActionLink("Статус сервисов", "Index", "Services")</li>
							<li>@Html.ActionLink("Контроль сроков", "DateLimit", "Home")</li> 

                                                   </ul>                          
                    </nav>
                </div>
                <div>                
                <nav class="user-panel">
                <p class="user-info">@role @User.Identity.Name</p>        
                 <a class="user-panel-exit" id="logout-link" title="Выйти из личного кабинета" href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
                </nav>
                </div>
            </div>

        </header>
 }

        
       