﻿@model List<Account.DAO.PackageShortInfo>
@{
    ViewBag.Title = "Нарушители сроков подачи отчетности";

}

@if (Model.Count > 0)
{
<table>
    <tr style="font-weight: bold">
        <td>Название</td>
        <td>Дата згрузки</td>
        <td>Имя владельца</td>
        <td>ИНН владельца</td>
    </tr>
    @foreach (var org in Model)
    {        
        <tr>
            <td>@org.Name</td>
            <td>@org.UploadTime</td>
            <td>@org.OwnerCompany</td>
            <td>@org.OwnerINN</td>
        </tr>
    }
    <tr>
        <td style="font-weight: bold"> <br/>Всего</td>
        <td></td>
        <td>@Model.Count</td>
        <td></td>
    </tr>
</table>
}
else
{
    <div style="font-weight: bold; margin: 0 auto;">За отчетный период, нарушителей нет.</div>
}