﻿@model List<PackageDateLimit>
@using Account.DAO
@{
    ViewBag.Title = "";
        
}

        
@foreach (var item in Model)
{
    <span>
        <a href="@Url.Action("DateLimitEdit", "Home", new { year = item.Year })">@item.Year</a>
    </span>
    <span>
        <a href="" onclick="return delete_item(@item.Year)">Удалить</a>
    </span><br />
}

