﻿@model List<Account.DAO.Models.OrganizationHistoryInfo>
@{
    ViewBag.Title = "Отчет по истории подачи пакетов";
}
<div id="report"></div>
<table>
        <thead>
            <tr>
                <th>ИНН организации</th>
                <th>Тип пакета</th>
                <th>Год</th>
                <th>Квартал</th>
                <th>Месяц</th>
                <th>Дата</th>
                <th>Количество пакетов</th>
            </tr>
        </thead>
        <tbody>

    @foreach (var item in Model)
    {
            <tr>
                <td>@item.INN</td> 
                <td><a href="#" onclick="showHistory('@item.INN', '@item.DocTypeCode', '@item.Year', '@item.Quartal', '@item.Month', '@item.Date', '@item.report_type' )">@item.Type</a></td>
                <td>@item.Year</td>
                <td>@item.Quartal</td>
                <td>@item.Month</td>
                <td>@item.Date</td>
                <td>@item.count</td>
            </tr>
        
    }
</tbody>
    </table>