﻿@model List<Account.DAO.Models.HistoryInfo>
@{
    ViewBag.Title = "История";
}
@if (Model != null)
{
    foreach (var table in Model)
    {
        string ids = "";
        if (table.AllPackages != null)
        {
            ids = String.Join(",", table.AllPackages.Select(x => x.ID).ToList<int>());
        }
    
        <a href="@Url.Action("PackageCompare", "Home", new { @ids = ids, @current_id = table.CurrentPackage.ID })" target="_blank">Сравнить отчеты</a>   
        <table>
            <thead>
                <tr>
                    <th>Имя пакета</th>
                    <th>ИНН организации</th>
                    <th>Имя организации</th>
                    <th>Отчетный период</th>
                    <th>Тип пакета</th>
                    <th>Дата загрузки</th>
                    <th>Входящий номер</th>
                    <th>Ссылка</th>
                </tr>
            </thead>
            <tbody>
            @if (!String.IsNullOrEmpty(table.ExMessage))
            {
                <tr>
                    <td>@table.CurrentPackage.Name</td> 
                    <td colspan="4">@table.ExMessage</td>
                    <td>@table.CurrentPackage.UploadTime</td>
                    <td></td>
                    <td><a href="@Url.Action("Package", "Download", new { @id = table.CurrentPackage.ID })">Скачать</a></td>
                </tr>
            }
            else
            {
                foreach (var item in table.AllPackages)
                {
                    string style = "";
                    if (item.ID == table.CurrentPackage.ID)
                    {
                        style = "font-weight: bold";
                    }
                
                    <tr style="@style">
                
                        <td>@item.Name</td>
                        <td>@item.INN</td>
                        <td>@item.OrgFullName</td>
                        <td></td>
                        <td>@item.DocTypeName</td>
                        <td>@item.UploadTime</td>
                        <td>@item.SedNumber</td>
                        <td><a href="@Url.Action("Package", "Download", new { @id = item.ID })">Скачать</a></td>
                    </tr>
                }

            }
            </tbody>
        </table>
    }
}