﻿@model List<Account.DAO.PackageFullInfo>
@{
    ViewBag.Title = "Подробная статистика";
}

@if (Model.Count > 0)
{
<div>
Всего записей: @Model.Count
</div>
<table width="90%">
    <tr style="font-weight: bold;cursor: pointer">
        <td>@Html.CheckBox("selectall")</td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "UploadTime" })');">Загружен</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "OrgShortName" })');">Организация</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "INN" })');">ИНН</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "OGRN" })');">ОГРН</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "IncomingNumber" })');">Номер исходящего</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "IncomingDate" })');">Дата исходящего</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "SedNumber" })');">Входящий номер</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "SedDate" })');">Дата входящего</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "DocTypeName" })');">Тип документа</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "CurrentStatusCode" })');">Статус</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "InitialStatusCode" })');">Статус проверки ЭП</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "Year" })');">год</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "Quartal" })');">квартал</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "Month" })');">месяц</a></td>
        <td><a onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "Date" })');">день</a></td>
    </tr>
    @foreach (var p in Model)
    {
        var s = new HtmlString(@p.CurrentStatus);
        var s0 = new HtmlString(@p.InitialStatus);
        <tr class="selectable" pid="@p.ID">
            <td class="checkbox">@Html.CheckBox("select" + @p.ID)</td>
            <td>@Monitoring.Helpers.DateTimeHelper.ToDate(p.UploadTime)</td>
            <td>@p.OrgShortName</td>
            <td>@p.INN</td>
            <td>@p.OGRN</td>
            <td>@p.IncomingNumber</td>
            <td>@Monitoring.Helpers.DateTimeHelper.ToDate(@p.IncomingDate)</td>
            <td>@p.SedNumber</td>
            <td>@Monitoring.Helpers.DateTimeHelper.ToDate(@p.SedDate)</td>
            <td>@p.DocTypeName</td>
            <td>@s</td>
            <td>@s0</td>
            <td>@p.Year</td>
            <td>@p.Quartal</td>
            <td>@p.Month</td>
            <td>@Monitoring.Helpers.DateTimeHelper.ToDate(@p.Date)</td>
        </tr>
        <div id="report-@p.ID" class="report-info" title="Информация о пакете"></div>
    }
</table>
}
else
{
    <div style="font-weight: bold; margin: 0 auto;">За заданный промежуток времени данные не найдены</div>
}