﻿@model Account.DAO.PackageFullInfo
@{
    var CurrentStatus = new HtmlString(Model.CurrentStatus);
    var InitialStatus = new HtmlString(Model.InitialStatus);
}

<table>
    <tr>
        <td>Логин владельца</td>
        <td>@Model.Owner</td>
    </tr>
    @if (Model.IsImported != true)
    {
    <tr>
        <td>Файл Пакета</td>
        <td><a href="@Url.Action("Package", "Download", new { @id = Model.ID })">скачать</a></td>
    </tr>
    }
    <tr>
        <td>Файл Отчета</td>
        <td><a href="@Url.Action("Report", "Download", new { @id = Model.ID } )">скачать</a></td>
    </tr>
    <tr>
        <td>Файл ЭП</td>
        <td><a href="@Url.Action("Signature", "Download", new { @id = Model.ID } )">скачать</a></td>
    </tr>
    <tr>
        <td>ID</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>Внешний ID</td>
        <td>@Model.ExternalID</td>
    </tr>
    <tr>
        <td>Версия</td>
        <td>@Model.Version</td>
    </tr>
    <tr>
        <td>Модель</td>
        <td>@Model.Model</td>
    </tr>
    <tr>
        <td>Пакет</td>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <td>Тип отчетности</td>
        <td>@Model.DocTypeName</td>
    </tr>
    <tr>
        <td>Тип организации</td>
        <td>@Model.OrgTypeName</td>
    </tr>
    <tr>
        <td>Исходящий номер</td>
        <td>@Model.IncomingNumber</td>
    </tr>
    <tr>
        <td>Исходящая дата</td>
        <td>@Model.IncomingDate</td>
    </tr>
    <tr>
        <td>Номер регистрации</td>
        <td>@Model.SedNumber</td>
    </tr>
    <tr>
        <td>Дата регистрации</td>
        <td>@Model.SedDate</td>
    </tr>
    <tr>
        <td>Краткое наименование компании</td>
        <td>@Model.OrgShortName</td>
    </tr>
    <tr>
        <td>Полное наименование компании</td>
        <td>@Model.OrgFullName</td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Тема отчета</td>
        <td>@Model.Subject</td>
    </tr>
    <tr>
        <td>ИНН</td>
        <td>@Model.INN</td>
    </tr>
    <tr>
        <td>ОГРН</td>
        <td>@Model.OGRN</td>
    </tr>
    <tr>
        <td>ФИО Подписавшего</td>
        <td>@Model.LastName @Model.FirstName @Model.MiddleName</td>
    </tr>
    <tr>
        <td>Дата</td>
        <td>@Model.Date</td>
    </tr>
    <tr>
        <td>Месяц</td>
        <td>@Model.Month</td>
    </tr>
    <tr>
        <td>Квартал</td>
        <td>@Model.Quartal</td>
    </tr>
    <tr>
        <td>Год</td>
        <td>@Model.Year</td>
    </tr>
    <tr>
        <td>Текущий статус</td>
        <td>@CurrentStatus</td>
    </tr>
    <tr>
        <td>Доп. информация по текущему статусу</td>
        <td>@Model.CurrentStatusException</td>
    </tr>
    <tr>
        <td>Внутренний статус</td>
        <td>@Model.CurrentStatusDetail</td>
    </tr>
    <tr>
        <td>Cтатус проверки ЭП</td>
        <td>@InitialStatus</td>
    </tr>
    <tr>
        <td>Внутренний статус проверки ЭП</td>
        <td>@Model.InitialStatusDetail</td>
    </tr>
    <tr>
        <td colspan="2">Запросы в СЭД</td>
    </tr>
    @foreach (var mail in Model.ToSedMailMessages)
    {
        <tr>
            <td colspan="2"><a href='@Url.Action("MailMessage", "Download", new { @id = mail.ID })'>Subject: @mail.Subject; Date: @mail.CreateAt</a></td>
        </tr>
    }
    <tr>
        <td colspan="2">Ответы СЭД</td>
    </tr>
    @foreach (var mail in Model.FromSedMailMessages)
    {
        <tr>
            <td colspan="2"><a href='@Url.Action("MailMessage", "Download", new { @id = mail.ID })'>Subject: @mail.Subject; Date: @mail.CreateAt</a></td>
        </tr>
    }
</table>