﻿@model List<Account.DAO.StatusStats>
@{
    ViewBag.Title = "Сводная статистика";

    int total = 0;
    foreach (var stat in Model)
    {
        total += stat.Count;
    }
}

@if (total > 0)
{
<table>
    <tr style="font-weight: bold">
        <td>Код</td>
        <td>Статус</td>
        <td>Количество</td>
        <td>% от всех</td>
    </tr>
    @foreach (var stat in Model)
    {        
        string percent = string.Format("{0:0.0}", (double)stat.Count * 100 / total);
        var text = new HtmlString(@stat.Status);
        <tr>
            <td>@stat.PrimaryCode</td>
            <td>@text</td>
            <td>@stat.Count</td>
            <td>@percent</td>
        </tr>
    }
    <tr>
        <td style="font-weight: bold"> <br/>Всего</td>
        <td></td>
        <td>@total</td>
        <td></td>
    </tr>
</table>
}
else
{
    <div style="font-weight: bold; margin: 0 auto;">За заданный промежуток времени данные не найдены</div>
}