﻿@model Account.DAO.UserMonitoring

<table>
    <tr>
        <td>Выберите действие для:</td>
    </tr>
    <tr>
        <td>"@Model.Login"</td>
    </tr>
    <tr>
        <td><input type="button" value="Изменить" onclick="resubmitUser('@Url.Action("EditUser", "Account")', @Model.ID)"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Удалить" onclick='@Url.Action("DeleteUser", "Home")', @Model.ID)"/></td>
    </tr>    
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="error"></td>
    </tr>
</table>