﻿@model List<Account.DAO.UserRegisterInfo>
@{
    ViewBag.Title = "Статистика по запросам на подключение к ЛК";
    int total = 0;
    foreach (var stat in Model)
    {
        total += 1;
    }
}

@if (Model.Count > 0)
{
<table width="90%">
    <tr style="font-weight: bold">               
        <td>Название организации</td>
        <td>ИНН</td>        
    </tr>
    @foreach (var p in Model)
    {        
        <tr>
            <td>@p.Company</td>            
            <td>@p.INN</td>          
        </tr>
    }
    <tr>
        <td style="font-weight: bold"> <br/>Всего</td>        
        <td>@total</td>
    </tr>
</table>
}
else
{
    <div style="font-weight: bold; margin: 0 auto;">За заданный промежуток времени данные не найдены</div>
}