﻿@model List<Account.DAO.PackageUsersInfo>
@{
    ViewBag.Title = "Статистика по пользователям";
    int total = 0;
    int total_user = 0;
    foreach (var stat in Model)
    {
        total += stat.Count;
        total_user += 1;
    }
}

@if (Model.Count > 0)
{
<table width="90%">
    <tr style="font-weight: bold">               
        <td>Название организации</td>
        <td>ИНН</td>
        <td>Количество пакетов</td>        
    </tr>
    @foreach (var p in Model)
    {        
        <tr>
            <td>@p.Company</td>            
            <td>@p.INN</td>
            <td>@p.Count</td>          
        </tr>
    }
    <tr>
        <td style="font-weight: bold"> <br/>Всего</td>
        <td>@total_user</td>
        <td>@total</td>
    </tr>
</table>
}
else
{
    <div style="font-weight: bold; margin: 0 auto;">За заданный промежуток времени данные не найдены</div>
}