﻿@model Account.DAO.PackageFullInfo

<table>
    <tr>
        <td>Выберите действие с которого будет перезапущен пакет:</td>
    </tr>
    <tr>
        <td>[@Model.ID] "@Model.Name"</td>
    </tr>
    <tr>
        <td><input type="button" value="Начальная обработка" onclick="resubmit('@Url.Action("Resubmit", "Home")', 0, @Model.ID)"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Регистрация в СЭД" onclick="resubmit('@Url.Action("Resubmit", "Home")', 1, @Model.ID)"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Обработка ответа СЭД" onclick="resubmit('@Url.Action("Resubmit", "Home")', 2, @Model.ID)"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Обработка ответа СЭД из БД" onclick="resubmit('@Url.Action("Resubmit", "Home")', 5, @Model.ID)"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Получение письма от СЭД" onclick="resubmit('@Url.Action("Resubmit", "Home")', 3, @Model.ID)"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Валидация" onclick="resubmit('@Url.Action("Resubmit", "Home")', 4, @Model.ID)"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Получение имени региона" onclick="resubmit('@Url.Action("Resubmit", "Home")', 6, @Model.ID)"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Повторная регистрация в РПУ" onclick="resubmit('@Url.Action("Resubmit", "Home")', 7, @Model.ID)"/></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="error"></td>
    </tr>
</table>