﻿@model Monitoring.Models.PackageFilterLimitModel
@using Account.DAO
@{
    ViewBag.Title = "Нарушения сроков сдачи отчетности";
    var QuarterList = new SelectList(Enum.GetNames(typeof(Account.Tools.Quarter)));
    List<int> yearList = new List<int>();
    for (int y = 2011; y < 2025; y++)
    {
        yearList.Add(y);
    }
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
@Html.AntiForgeryToken()

<div>
    <a href="@Url.Action("DateLimitList", "Home")" >Редактирование контроля сроков </a>
</div>
<div class="clear"></div>
<div class="half left">    
    <div class="filters" >
        <div class="block">
            Тип сдачи отчетности<br/>
            @Html.RadioButtonForEnum(m => m.Period)
        </div>
        <div class="clear"></div>
    </div>    
</div>
<div class="half right">
    <div class="filters" >
        <div class="block">
            Год<br/>
            @Html.DropDownListFor(m => m.Year, new SelectList(yearList))
        </div>
        <div class="clear"></div>
        <div class="block">
            Квартал<br/>
            @Html.DropDownListForEnum(m => m.Quarter)
        </div>
        <div class="clear"></div>
        <div class="block">
            Месяц<br/>
            @Html.DropDownListForEnum(m => m.Month)
        </div>
        <div class="clear"></div>
    </div>
</div>


<div class="block">
    <input type="submit" name="filter" value="Собрать статистику" onclick="return gather('@Url.Action("DateLimit", "Home")');"/>
</div>

<div class="clear"></div>
}
<div class="clear"></div>
<h3>Нарушители</h3>
<div id="stats"></div>

@section scripts {
<script type="text/javascript">
    
    
</script>
}
