﻿@model PackageDateLimitModel
@using Monitoring.Models
@{
    ViewBag.Title = "Редактирование сроков сдачи отчетности";
}
<div class="register-form dbi">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
@Html.AntiForgeryToken()
    if (Model.Year != null)
    {
        <div><h3><b>Год:</b></h3><span>@Model.Year</span>@Html.HiddenFor(m => m.Year)</div>
    }
    else
    {
        @Html.LabelFor(m => m.Year)<br/>@Html.ValidationMessageFor(m => m.Year)<br />
        @Html.TextBoxFor(m => m.Year)
    }
    <table class="table-layout ">
        <colgroup><col style="width: 250px">
        </colgroup><tbody>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.Quarter1)<br/>@Html.ValidationMessageFor(m => m.Quarter1)</td>
                <td>@Html.TextBoxFor(m => m.Quarter1, new { @class = "date", @maxlength = "10" })</td>
                <td>@Html.LabelFor(m => m.Quarter2)<br/>@Html.ValidationMessageFor(m => m.Quarter2)</td>
                <td>@Html.TextBoxFor(m => m.Quarter2, new { @class = "date", @maxlength = "10" })</td>
            </tr>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.Quarter3)<br/>@Html.ValidationMessageFor(m => m.Quarter3)</td>
                <td>@Html.TextBoxFor(m => m.Quarter3, new { @class = "date", @maxlength = "10" })</td>
                <td>@Html.LabelFor(m => m.Quarter4)<br/>@Html.ValidationMessageFor(m => m.Quarter4)</td>
                <td>@Html.TextBoxFor(m => m.Quarter4, new { @class = "date", @maxlength = "10" })</td>
            </tr>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.YearLimit)<br/>@Html.ValidationMessageFor(m => m.YearLimit)</td>
                <td>@Html.TextBoxFor(m => m.YearLimit, new { @class = "date", @maxlength = "10" })</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.January)<br/>@Html.ValidationMessageFor(m => m.January)</td>
                <td>@Html.TextBoxFor(m => m.January, new { @class = "date", @maxlength = "10" })</td>
                <td>@Html.LabelFor(m => m.February)<br/>@Html.ValidationMessageFor(m => m.February)</td>
                <td>@Html.TextBoxFor(m => m.February, new { @class = "date", @maxlength = "10" })</td>
            </tr>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.March)<br/>@Html.ValidationMessageFor(m => m.March)</td>
                <td>@Html.TextBoxFor(m => m.March, new { @class = "date", @maxlength = "10" })</td>
                <td>@Html.LabelFor(m => m.April)<br/>@Html.ValidationMessageFor(m => m.April)</td>
                <td>@Html.TextBoxFor(m => m.April, new { @class = "date", @maxlength = "10" })</td>
            </tr>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.May)<br/>@Html.ValidationMessageFor(m => m.May)</td>
                <td>@Html.TextBoxFor(m => m.May, new { @class = "date", @maxlength = "10" })</td>
                <td>@Html.LabelFor(m => m.June)<br/>@Html.ValidationMessageFor(m => m.June)</td>
                <td>@Html.TextBoxFor(m => m.June, new { @class = "date", @maxlength = "10" })</td>
            </tr>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.July)<br/>@Html.ValidationMessageFor(m => m.July)</td>
                <td>@Html.TextBoxFor(m => m.July, new { @class = "date", @maxlength = "10" })</td>
                <td>@Html.LabelFor(m => m.August)<br/>@Html.ValidationMessageFor(m => m.August)</td>
                <td>@Html.TextBoxFor(m => m.August, new { @class = "date", @maxlength = "10" })</td>
            </tr>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.September)<br/>@Html.ValidationMessageFor(m => m.September)</td>
                <td>@Html.TextBoxFor(m => m.September, new { @class = "date", @maxlength = "10" })</td>
                <td>@Html.LabelFor(m => m.October)<br/>@Html.ValidationMessageFor(m => m.October)</td>
                <td>@Html.TextBoxFor(m => m.October, new { @class = "date", @maxlength = "10" })</td>
            </tr>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.November)<br/>@Html.ValidationMessageFor(m => m.November)</td>
                <td>@Html.TextBoxFor(m => m.November, new { @class = "date", @maxlength = "10" })</td>
                <td>@Html.LabelFor(m => m.December)<br/>@Html.ValidationMessageFor(m => m.December)</td>
                <td>@Html.TextBoxFor(m => m.December, new { @class = "date", @maxlength = "10" })</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Сохранить изменения" onclick="return tryToSubmit()" /></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="return goBack()" /></td>
            </tr>
        </tbody>
    </table>
    
    
}
</div>
@section scripts
{
    <script type="text/javascript">
        jQuery(function ($) {
            $(".date").mask("99.99.9999");
        });

        function goBack() {
            window.location = '@Url.Action("DateLimitList", "Home")';
            return false;
        }
    </script>
}
