﻿@model List<PackageDateLimit>
@using Account.DAO
@{
    ViewBag.Title = "Редактирование сроков сдачи отчетности";
        
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
@Html.AntiForgeryToken()

<div class="filters">
<ul>
    <li><a href = "@Url.Action("DateLimit", "Home")">К отчету о нарушении сроков</a></li>
    <li><a href = "@Url.Action("DateLimitCreate", "Home")">Создать новую запись</a></li>
</ul>
</div>

    <div id="stats">
            
        @foreach (var item in Model)
        {
            <span>
                <a href="@Url.Action("DateLimitEdit", "Home", new { year = item.Year })">@item.Year</a>
            </span>
            <span>
                <a href="" onclick="return delete_item(@item.Year)">Удалить</a>
            </span><br />
        }
    
    </div>
    <div style="clear: both"></div>

}

@section scripts
{
    <script type="text/javascript">
        function delete_item(year) {
            $('#stats').css('opacity', '0.3');
            $.post(
                '@Url.Action("DateLimitDelete", "Home")',
                { 'year': year },
                function (data) {
                    $('#stats').html(data);
                    $('#stats').css('opacity', '1.0');
                }
            );
        }
    </script>
}
