﻿@model Monitoring.Models.PackageFilterModel
@using Account.DAO
@{
    ViewBag.Title = "Подробная статистика по пакетам";

    var StatusValues = from PrimaryStatus e in Enum.GetValues(typeof(PrimaryStatus))
                       where !e.HasFlag(PrimaryStatus._LAST_)
                       select new { Id = (int)e, Name = e.ToString() };

    var StatusList = new SelectList(StatusValues, "Id", "Name");
    var SignList = new SelectList(new string[] { "cryptopro", "interpro" });
    var OrgList = new SelectList(new string[] {
        "Акционерные инвестиционные фонды",
        "Управляющие компании",
        "Спецдепозитарии",
        "Негосударственные пенсионные фонды",
        "Брокеры",
        "Организаторы торговли и биржи",
        "Аккредитованные организации",
        "Профучастники",
        "Регистраторы",
        "Другие"
    });
    var TypeList = new SelectList(new string[] {
       "ВРАЛ",
        "ВРАЛ808",
        "ВРАЛ809",
        "ВРАЛ810",
        "ВРАЛ812",
        "ВРАЛ813",
        "ВРАЛ814",
        "ЛКИ1",
        "СООУРЦБ",
        "СООУРЦБ1401",
        "СООУРЦБ1402",
        "СООУРЦБ1403",
        "СООУРЦБ1404",
        "СООУРЦБ1405",
        "СООУРЦБ1406",
        "СООУРЦБ1407",
        "СООУРЦБ1408",
        "СООУРЦБ1409",
        "СООУРЦБ1410",
        "СООУРЦБ1411",
        "СООУРЦБ1412",
        "СООУРЦБ1414",
        "СООУРЦБ1415",
        "СООУРЦБ1416",
        "СООУРЦБ1417",
        "СООУРЦБ1418",
        "СООУРЦБ1419",
        "РВЦД1",
        "УММ",
        "УММ1",
        "УММ2",
        "СООУРКИ",
        "СООУРКИ001",
        "СООУРКИ002",
        "СООУРКИ003",
        "СООУРКИ004",
        "СООУРКИ005",
        "СООУРКИ006",
        "СООУРКИ007",
        "СООУРКИ008",
        "СООУРКИ009",
        "СООУРКИ010",
        "СООУРКИ011",
        "СООУРКИ012",
        "СООУРКИ013",
        "СООУРКИ014",
        "СООУРКИ015",
        "СООУРКИ016",
        "СООУРКИ017",
        "СООУРКИ018",
        "СООУРКИ019",
        "СООУРКИ020",
        "СООУРКИ021",
        "СООУРКИ022",
        "СООУРКИ023",
        "СООУРКИ024",
        "СООУРКИ025",
        "СООУРКИ026",
        "СООУРКИ027",
        "СООУРКИ028",
        "СООУРКИ029",
        "СООУРКИ030",
        "СООУРКИ031",
        "СООУРКИ032",
        "СООУРКИ033",
        "СООУРКИ034",
        "СООУРКИ035",
        "СООУРКИ036",
        "СООУРКИ037",
        "СООУРКИ038",
        "СООУРКИ039",
        "СООУРКИ040",
        "СООУРКИ041",
        "СООУРКИ042",
        "СООУРКИ043",
        "СООУРКИ044",
        "СООУРКИ045",
        "СООУРКИ046",
        "СООУРКИ047",
        "СООУРКИ048",
        "СООУРКИ049",
        "СООУРКИ050",
        "СООУРКИ051",
        "СООУРКИ052",
        "СООУРКИ053",
        "СООУРКИ054",
        "СООУРКИ055",
        "СООУРКИ056",
        "СООУРКИ057",
        "СООУРКИ058",
        "СООУРКИ059",
        "СООУРКИ060",
        "СООУРКИ061",
        "СООУРКИ062",
        "СООУРКИ063",
        "СООУРКИ064",
        "СООУРКИ065",
        "СООУРКИ066",
        "СООУРКИ067",
        "СООУРКИ068",
        "СООУРКИ069",
        "СООУРКИ070",
        "УСИО1" 
    });
    var ModelList = new SelectList(new string[] {
        "ЗПУ",
        "ЛКИ",
        "УРКИ",
        "УММ",
        "УСИО",
        "Регистраторы",
        "ПУРЦБ",
        "АЛ"
    });
}
<script type="text/javascript"></script>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
@Html.AntiForgeryToken()
<div class="half left">
    <h3>Информация отчета</h3>
    <div class="filters">
        <div class="block">
            ИНН<br/>
            @Html.TextBoxFor(m => m.Report.INN)
        </div>
        <div class="block">
            Модель<br/>
            @Html.DropDownListFor(m => m.Report.Model, ModelList, "Любая")
        </div>
        <div class="block">
            Тип организации<br/>
            @Html.DropDownListFor(m => m.Report.OrgType, OrgList, "Любая")
        </div>
        <div class="clear"></div>
        <div class="block">
            ОГРН<br/>
            @Html.TextBoxFor(m => m.Report.OGRN)
        </div>
        <div class="block">
            Пакет<br/>
            @Html.DropDownListFor(m => m.Report.Type, TypeList, "Любой")
        </div>
        <div class="block">
          Тип отчета<br/>
          <select id="Report_DocType" name="Report.DocType" style="width:100%">
          </select>
        </div>
        <div class="clear"></div>
        <div class="block">
            Год<br/>
            @Html.TextBoxFor(m => m.Report.Year)
        </div>
        <div class="block">
            Квартал<br/>
            @Html.TextBoxFor(m => m.Report.Quartal)
        </div>
        <div class="block">
            Месяц<br/>
            @Html.TextBoxFor(m => m.Report.Month)
        </div>
        <div class="block">
            Отчетная дата<br/>
            @Html.TextBoxFor(m => m.Report.Date, new { @class = "date" })
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="half right">
    <h3>Пакет отчетности</h3>
    <div class="filters">
        <div class="block">
            Название пакета<br/>
            @Html.TextBoxFor(m => m.Package.Name, new { @class = "long3" })
        </div>
        <div class="clear"></div>
        <div class="block">
            Логин владельца<br/>
            @Html.TextBoxFor(m => m.Package.Owner, new { @class = "long3" })
        </div>
        <div class="clear"></div>
        <div class="block">
            ID<br/>
            @Html.TextBoxFor(m => m.Package.ID)
        </div>
        <div class="block">
            Тип подписи<br/>
            @Html.DropDownListFor(m => m.Package.Signature, SignList, "Любая")
        </div>
        <div class="clear"></div>
        <div class="block">
            Текущий статус<br/>
            @Html.DropDownListFor(m => m.Package.CurrentStatusCode, StatusList, "Любой")
        </div>
        <div class="block last">
            Изначальный статус<br/>
            @Html.DropDownListFor(m => m.Package.InitialStatusCode, StatusList, "Любой")
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="clear"></div>

<h3 class="filters-date">Дата сдачи отчетности<span onclick="today()">за сегодня</span><span onclick="week()">за неделю</span><span onclick="month()">за месяц</span><span onclick="infinite()">за все время</span></h3>
<div class="filters">
    <div class="block">
        С<br/>
        @Html.TextBoxFor(m => m.from, new { @class = "date" })
    </div>
    <div class="block">
        По<br/>
        @Html.TextBoxFor(m => m.to, new { @class = "date" })
    </div>
    <div class="block">
        <input type="submit" name="filter" value="Собрать статистику" onclick="return gather('@Url.Action("Packages", "Home", new { orderField = "UploadTime" })');"/>
    </div>
    <div class="block">
        <input type="button" name="history" id="history" style="margin-top: 20px" value="Показать историю" onclick="ShowHistory();"/>
    </div>
    <div class="block">
        <input type="button" name="download" id="download" style="margin-top: 20px" value="Выгрузить отчеты" onclick="DownloadReports();"/>
    </div>
    <div style="clear: both"></div>
</div>
}

<h3>Статистика</h3>
<div id="stats"></div>

@section scripts {
<script type="text/javascript">
    $("#history").attr("disabled", "disabled");
    $("#download").attr("disabled", "disabled"); 
    
    function ShowHistory() {
        var check_items = $('.checkbox');
        var ids = [];
        for (var i = 0; i < check_items.length; i++) {
            if (check_items[i].firstChild.checked == true) {
                var id = check_items[i].firstChild.getAttribute("id").replace("select", "");
                ids.push(id);
            }
        } 
        
        $.ajax({
            url: '@Url.Action("PackagesHistory", "Home")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                items: ids
            }),
            success: function (data) {

                if (String(data).indexOf("Вход в систему мониторинга СПО - Федеральная Служба по Финансовым Рынкам") != -1) {
                    location.href = '@Url.Action("Packages", "Home")';
                }

                $('#report-' + id).html(data);

                $('#report-' + id)
                    .attr('title', 'История')
                    .removeClass('report-info')
                    .addClass('report-actions')
                    .dialog({ width: 600, height: 600 });
            }

        });
        
    }

    function DownloadReports() {
        var check_items = $('.checkbox');
        var ids = [];
        for (var i = 0; i < check_items.length; i++) {
            if (check_items[i].firstChild.checked == true) {
                var id = check_items[i].firstChild.getAttribute("id").replace("select", "");
                ids.push(id);
            }
        }
        str_ids = ids.join();

        var form = $('<form method="POST" action="@Url.Action("DwonloadReports", "Download")">');
        form.append($('<input type="hidden" name=ids id=ids value="' + str_ids + '" />'));
        form.submit();
        
    }

    $('#selectall').live('click', function () {
        if ($(this).is(':checked')) {
            $('tr.selectable input[type="checkbox"]').attr('checked', 'checked');
        } else {
            $('tr.selectable input[type="checkbox"]').attr('checked', null);
        }

        btnEnable();
    });
    $('tr.selectable td.checkbox').live('click', function (e) {
        if (e.stopPropagation) {
            e.stopPropagation();
        } else {
            window.event.cancelBubble = true
        }

        btnEnable();
    });

    function btnEnable() {
        var check_items = $('.checkbox');
        var btnenabled = false;
        for (var i = 0; i < check_items.length; i++) {
            if (check_items[i].firstChild.checked == true) {
                btnenabled = true;
                break;
            }
        }
        if (btnenabled) {
            $("#history").removeAttr("disabled");
            $("#download").removeAttr("disabled");
        }
        else {
            $("#history").attr("disabled", "disabled");
            $("#download").attr("disabled", "disabled");
        }
    }

    $('tr.selectable').live('click', function () {
        id = $(this).attr('pid');
        showReport(
            '@Url.Action("Report", "Home")',
            id,
            {
                title: 'Информация',
                width: 600,
                height: 600
            }
        );
    });
    
    var docTags = {
        "Акционерные инвестиционные фонды":
			        	[
			        		"Ежегодная отчетность акционерного инвестиционного фонда",
				        	"Ежеквартальная отчетность акционерного инвестиционного фонда",
					        "Ежемесячная отчетность акционерного инвестиционного фонда",
					        "Ежегодная отчетность управляющей компании паевого инвестиционного фонда",
					        "Ежеквартальная отчетность управляющей компании паевого инвестиционного фонда",
					        "Ежемесячная отчетность управляющей компании паевого инвестиционного фонда",
					        "Отчетность лица, осуществляющего прекращение паевого инвестиционного фонда",
					        "Уведомление о выявлении нарушения (несоответствия) (УК ПИФ/АИФ)",
					        "Уведомление об устранении нарушения (несоответствия) (УК ПИФ/АИФ)",
					        "Уведомление о факте неустранения нарушения (несоответствия) (УК ПИФ/АИФ)"
					    ],
        "Управляющие компании":
			        	[
			        		"Сведения об управляющей компании",
        					"Ежеквартальная отчетность УК по пенсионным накоплениям Пенсионного фонда РФ",
        					"Отчет о соблюдении кодекса профессиональной этики",
        					"Информация о структуре и составе акционеров (участников) управляющей компании",
					        "Информация о составе акционеров (участников) управляющей компании",
					        "Ежеквартальная отчетность управляющей компании по пенсионным накоплениям НПФ",
					        "Ежеквартальная отчетность управляющей компании по жилищному обеспечению военнослужащих",
					        "Сведения о достаточности собственных средств относительно объема обслуживаемых активов (НПФ)",
        					"Данные о достаточности собственных средств (капитала) (ПФР)",
        					"Сведения о собственных средствах управляющей компании и активах в управлении",
        					"Доходность инвестирования средств пенсионных накоплений",
        					"Отчет о сделках по продаже ценных бумаг по цене ниже рыночной и сделках по покупке ценных бумаг по цене выше рыночной (ПН)",
					        "Отчет о сделках по продаже ценных бумаг по цене ниже рыночной и сделках по покупке ценных бумаг по цене выше рыночной (НПФ)",
					        "Отчет о сделках, проведенных с отклонением от рыночных цен (ЖОВ)",
					        "Информация об аффилированных лицах управляющей компании (ЖОВ)",
        					"Информация об аффилированных лицах управляющей компании (ПН)",
        					"Сведения о составе работников, непосредственно обеспечивающих деятельность УК",
        					"Уведомление об изменении состава исполнительных органов управляющей компании",
        					"Уведомление об изменении состава совета директоров (наблюдательного совета) управляющей компании",
        					"Пояснительная записка к отчетности УК"
			        	],
        "Спецдепозитарии":
			        	[
			        		"Ежедневная отчетность специализированного депозитария по пенсионным накоплениям",
					        "Ежемесячная отчетность специализированного депозитария по пенсионным накоплениям Пенсионного фонда РФ",
					        "Ежемесячная отчетность специализированного депозитария по пенсионным накоплениям НПФ",
					        "Ежемесячная отчетность специализированного депозитария по жилищному обеспечению военнослужащих",
					        "Ежеквартальная отчетность специализированного депозитария по жилищному обеспечению военнослужащих",
					        "Отчет о соблюдении кодекса профессиональной этики",
					        "Информация о структуре и составе акционеров (участников) специализированного депозитария (по пенсионным накоплениям)",
					        "Информация о составе акционеров (участников) специализированного депозитария (по ЖОВ)",
					        "Информация об аффилированных лицах специализированного депозитария (ЖОВ)",
					        "Сведения о достаточности собственных средств относительно объема обслуживаемых активов (НПФ)",
        					"Данные о достаточности собственных средств (капитала) (ПФР)",
        					"Информация об аффилированных лицах специализированного депозитария (ПН)",
        					"Сведения о составе работников, непосредственно обеспечивающих деятельность СД",
        					"Уведомление об изменении состава исполнительных органов специализированного депозитария",
        					"Уведомление об изменении состава совета директоров (наблюдательного совета) специализированного депозитария",
        					"Сведения о стоимости чистых активов и расчетной стоимости одного инвестиционного пая ПИФ и их изменении",
        					"Журнал учета нарушений (устранений/неустранений) при инвестировании средств пенсионных накоплений",
        					"Журнал учета ввода/вывода средств пенсионных накоплений",
        					"Пояснительная записка к отчетности СД",
        					"Протокол разногласий по согласованию отчетности",
        					"Уведомление специализированного депозитария о заключении/изменении/расторжении договора банковского вклада",
        					"Уведомление специализированного депозитария о заключении/изменении/расторжении договора об обслуживании с управляющей компанией"
			        	],
        "Негосударственные пенсионные фонды":
			        	[
			        		"Ежегодная отчетность негосударственного пенсионного фонда по пенсионным резервам",
        					"Ежеквартальная отчетность негосударственного пенсионного фонда по пенсионным резервам",
        					"Отчет о соблюдении кодекса профессиональной этики НПФ",
        					"Ежеквартальная отчетность негосударственного пенсионного фонда по пенсионным накоплениям",
        					"Пояснительная записка к отчетности НПФ",
        					"Уведомление НПФ о заключении/изменении/расторжении договора доверительного управления",
					        "Уведомление НПФ о заключении/изменении/расторжении договора об обсуживании со специализированным депозитарием",
					        "Уведомление НПФ о заключении/изменении/расторжении договора с аудитором о проведении ежегодной аудиторской проверки",
					        "Уведомление НПФ о заключении/изменении/расторжении договора с актуарием об актуарном оценивании деятельности фонда"
			        	],
        "Брокеры":
			        	[
			        		"Отчет о соблюдении кодекса професииональной этики брокера",
			        		"Пояснительная записка к отчетности Брокера"
			        	],
        "Профучастники":
			        	[
			        		"Форма №010 Внесение изменений в сведения об организации",
					        "Форма №020 Сообщение о сделках, совершенных с организацией нерезидентами",
					        "Форма №030 Сообщение об изменении во владении ценными бумагами",
					        "Форма №040 Сведения о разовых операциях, совершенных с 15 и более процентами ценных бумаг одного вида одного эмитента",
					        "Форма №041 Сведения об операциях, совершенных за отчетный квартал со 100 и более процентами ценных бумаг одного вида одного эмитента",
					        "Форма №050 Сведения об участии в судебных процессах, ответчиком в которых выступила организация",
					        "Форма №060 Сведения об электронных системах, используемых организацией для доставки поручений клиентов на совершение сделок с ценными бумагами",
					        "Форма №1100 Квартальный отчет профессионального участника рынка ценных бумаг\"\"",
        					"Форма №2000 Ежемесячный отчет Группы оперативного финансового анализа ФКЦБ России\"\""
			        	],
        "Другие":
                        [
                            "Уведомление о выявлении нарушения (несоответствия)",
                            "Уведомление об устранении нарушения (несоответствия)",
                            "Уведомление о факте неустранения нарушения (несоответствия)",
                
                            "Уведомление негосударственного пенсионного фонда о договоре с УК и СД",
                            "Уведомление о заключенном(ых) договоре(ах) с застрахованными лицами",
                            "Уведомление о прекращенном(ых) договоре(ах) с застрахованными лицами",
                
                            "Уведомление управляющей компании о заключении/изменении/расторжении договора страхования ответственности",
                            "Справка о структуре собственности",
                            "Расчет размера собственных средств",
        
                            "Сведения о совершении инсайдером операции с финансовым инструментом, иностранной валютой или товаром",
                            "Пакет Сведения о квалифицированных инвесторах",
                            "Пакет Уведомление лицензиата о заключении/расторжении договора на ведение реестра с эмитентом",
                            "Уведомление о планируемом проведении квалиф.экзаменов",
                            "Уведомление о лицах, на имя которых были оформлены квалиф. аттестаты",
                            "Уведомление о лицах, на имя которых были оформлены дубликаты квалиф. аттестатов",
                            "Уведомление о несостоявшемся экзамене",
                            "Уведомление об ошибках, содержащихся в выданных аттестатах"
                        ],
        "Организаторы торговли и биржи":
			        	[

			        	],
        "Аккредитованные организации":
			        	[

			        	],
        "Регистраторы":
			        	[

			        	]
    };

    

    allItems = [];

    function filterItems() {
        var category = $("#Report_OrgType").val();
        var data = [];
        if (category in docTags) {
            data.push({ text: "Любой", value: "" });
            for (var k in docTags[category]) {
                data.push({ "text": docTags[category][k], value: docTags[category][k] });
            }
        }
        else {
            if (allItems.length == 0) {
                allItems.push({ text: "Любой", value: ""});
                for (var k in docTags) {
                    for (var n in docTags[k]) {
                        allItems.push({ text: docTags[k][n], value: docTags[k][n] });
                    }
                }
            }
            data = allItems;
        }

        $("#Report_DocType").replaceOptions(data);
    }
    
    (function ($, window) {
        $.fn.replaceOptions = function (options) {
            var self, $option;

            this.empty();
            self = this;

            $.each(options, function (index, option) {
                $option = $("<option></option>")
        .attr("value", option.value)
        .text(option.text);
                self.append($option);
            });
        };
    })(jQuery, window);

    filterItems();
    $("#Report_OrgType").change(function () {
        filterItems();
    })   
</script>
}
