﻿<h3 class="filters-date">Дата сдачи отчетности<span onclick="today()">за сегодня</span><span onclick="week()">за неделю</span><span onclick="month()">за месяц</span><span onclick="infinite()">за все время</span></h3>
<div class="filters">
    <div class="block">
        С<br/>
        <input type="text" id="from" class="date" />
    </div>
    <div class="block">
        По<br/>
        <input type="text" id="to" class="date" />
    </div>
    <div class="block">
        <input type="submit" name="filter" value="Собрать статистику" onclick="return gatherDateRange('@Url.Action("PackagesHistoryReport", "Home")');"/>
    </div>
    <div style="clear: both"></div>
</div>

<h3>Статистика</h3>
<div id="stats"></div>

@section scripts {
<script type="text/javascript">
    function showHistory(inn, type, year, quartal, month, date, report_type) {
        $.ajax(
        {
            url: '@Url.Action("PackagesHistoryByOrganization", "Home")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                INN: inn,
                DocTypeCode: type,
                Year: year,
                Quartal: quartal,
                Month: month,
                Date: date,
                report_type: report_type
            }),
            success: function (data) {
                if (String(data).indexOf("Вход в систему мониторинга СПО - Федеральная Служба по Финансовым Рынкам") != -1) {
                    location.href = '@Url.Action("Packages", "Home")';
                }

                $('#report').html(data);

                $('#report')
                    .attr('title', 'История')
                    .removeClass('report-info')
                    .addClass('report-actions')
                    .dialog({ width: 600, height: 600 });
            }

        });
    }
        
        
</script>
}
