﻿@model Monitoring.Helpers.CompareHelper.CompareResult
@{
    ViewBag.Title = "Сравнение";
}
@section Header
{
    <style>
        table {
            border-collapse: separate;
            border-spacing: 2px;
            background-color: Black;
        }
        tr 
        {
            background-color: White;
        }
        th
        {
            background-color: #aaa;
            color: White; 
            padding: 10px;
            text-align: center;   
            padding: 10px;
        }
        td
        {
            padding: 10px;
        }
        .currentcol
        {
            background-color: #eee;    
        }
        
    </style>
}

<h2>Сравнение</h2>
<table>
<thead>
<tr>
    <th>Название показателя</th>
    @foreach (var header in Model.ChangesHeaders)
    {
        <th>@Html.Raw(header)</th>    
    }
</tr>
</thead>
<tbody>
@foreach (var change in Model.Changes)
{
    <tr>
        <td>@change.Annotation</td>
        @for (int i = 0; i < change.Values.Count; i++ )
        {
            if (i == 0 && Model.CompareCurrent)
            {
                <td class="currentcol">@change.Values[i]</td>
            }
            else
            {
                <td>@change.Values[i]</td>
            }
        }
    </tr>
}
</tbody>
</table>