﻿@{
    ViewBag.Title = "Статистика по статусам";
}

<h3 class="filters-date">Дата сдачи отчетности<span onclick="today()">за сегодня</span><span onclick="week()">за неделю</span><span onclick="month()">за месяц</span><span onclick="infinite()">за все время</span></h3>
<div class="filters">
    <div class="block">
        С<br>
        <input type="text" id="from" class="date" />
    </div>
    <div class="block">
        По<br>
        <input type="text" id="to" class="date" />
    </div>
    <div class="block">
        <input type="submit" name="filter" value="Собрать статистику" onclick="return gatherDateRange('@Url.Action("Statuses", "Home")')"/>
    </div>
    <div class="clear"></div>
</div>

<h3>Статистика</h3>
<div id="stats" class="normal"></div>

@section scripts {
<script type="text/javascript">
    

</script>
}
