﻿@model Monitoring.Models.UserMonitoringModel
@using Account.DAO
@{
    ViewBag.Title = "Управление пользователями";    
    
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
@Html.AntiForgeryToken()

<div>
   <div class="block">
        <input type="submit" name="filter" value="Список пользователей" onclick="return gather()"/>
        <li><a class="reg" href="@Url.Action("RegistrationRequest", "Account")">Добавить пользователя</a></li>
        
    </div>
</div>
}

<h3>Список пользователей</h3>
<div id="stats"></div>

@section scripts {
<script type="text/javascript">

        function gather() {
            $('#stats').css('opacity', '0.3');
            q = $.post(
            '@Url.Action("UserMonitoring", "Home")',
            { },
            function (data) {
                if (String(data).indexOf("Вход в систему мониторинга СПО - Федеральная Служба по Финансовым Рынкам") != -1) {
                    location.href = '@Url.Action("UserMonitoring", "Home")';
                }
                $('#stats').html(data);
                $('#stats').css('opacity', '1.0');
                
            }
        );
            q.fail(function (xhr, textStatus, error) {
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            })
            return false;
        }

        function confirmDelete(email) {
            result = confirm("Вы уверены что хотите удалить пользователя <" + email + ">?")
            if (result) {
                $.post(
                    '@Url.Action("DeleteUser", "Account")',
                    { 'id': email, 'returnUrl': '@Request.Url.AbsoluteUri' },
                    function (data) {
                        window.location.reload();
                    }
                );
            }
            return result;
        }

        function EditUser(email) {
            result = confirm("Вы уверены что хотите удалить пользователя <" + email + ">?")
            if (result) {
                $.post(
                    '@Url.Action("EditUser", "Account")',
                    { 'id': email, 'returnUrl': '@Request.Url.AbsoluteUri' },
                    function (data) {
                        window.location.reload();
                    }
                );
            }         
        }
</script>
}