﻿@model Monitoring.Models.UserFilterModel
@{
    ViewBag.Title = "Статистика по запросам на подключение к ЛК";
}

<h3 class="filters-date">Дата запроса на регистрацию<span onclick="today()">за сегодня</span><span onclick="week()">за неделю</span><span onclick="month()">за месяц</span><span onclick="infinite()">за все время</span></h3>
<div class="filters">
  
    <div class="block">
        С<br>
        <input type="text" id="from" class="date" />
    </div>
    <div class="block">
        По<br>
        <input type="text" id="to" class="date" />
    </div>
    <div class="block">
        <input type="submit" name="filter" value="Собрать статистику" onclick="return gather()"/>
    </div>
    <div class="clear"></div>
</div>

<h3>Статистика</h3>
<div id="stats" class="normal"></div>

@section scripts {
<script type="text/javascript">
    function gather() {
        $('#stats').css('opacity', '0.3');
        $.post(
            '@Url.Action("UserRegister", "Home")',
            { 'from': $('#from').val(), 'to': $('#to').val() },
            function (data) {
                if (String(data).indexOf("Вход в систему мониторинга СПО - Федеральная Служба по Финансовым Рынкам") != -1) {
                    location.href = '@Url.Action("UserRegister", "Home")';
                }
                $('#stats').html(data);
                $('#stats').css('opacity', '1.0');
            }
        );
        return false;
    }

    function setDates(from, to) {
        $('#from').val(
            $.datepicker.formatDate('dd.mm.yy', from)
        );
        $('#to').val(
            $.datepicker.formatDate('dd.mm.yy', to)
        );
    }

    function today() {
        var date = new Date();
        setDates(date, date);
    }

    function week() {
        var d = new Date();
        var to = new Date(d);
        var day = d.getDay();
        var diff = d.getDate() - day + (day == 0 ? -6 : 1);
        var from = new Date(d.setDate(diff));

        setDates(from, to);
    }

    function month() {
        var from = new Date();
        var to = new Date();
        from.setDate(1);

        setDates(from, to);
    }

    function infinite() {
        $('#from').val('');
        $('#to').val('');
    }
</script>
}
