﻿@model List<Account.DAO.UserMonitoring>
@using Account.DAO;
@{
    ViewBag.Title = "Управление пользователями";
    
}

@if (Model.Count > 0)
{
<table width="90%">
    <tr style="font-weight: bold"> 
           <td></td>
        <td></td>
        <td>Логин</td>
        <td>Фамилия, имя, отчество</td>
        <td>Роль</td>
        <td>Регион</td>
        <td>Дата создания</td>        
    </tr>
    @foreach (var p in Model)
    {
        string region_user = string.Empty;
        try
        {
            region_user = RegionService.GetByID(Convert.ToInt32(@p.RegionUser)).Name;
        }
        catch
        {
            region_user = "";
        }
        string role = (p.IsAdmin != null) && p.IsAdmin ? "Администратор" : "Пользователь";
        
        <tr class="selectable" pid="@p.ID">
           
            <td><a class="reg" href="@Url.Action("EditUser/" + p.ID, "Account")">Редактировать</a></td>
            <td><a class="reg"  onclick="confirmDelete(@p.ID)">Удалить</a></td>
            <td>@p.Login</td>
            <td>@p.FIO</td>
            <td>@role</td>
            <td>@region_user</td>
            <td>@p.CreateDate</td>           
            
        </tr>
        <div id="report-@p.ID" class="report-info" title="Информация о пользователе"></div>
    }
</table>
}
else
{
    <div style="font-weight: bold; margin: 0 auto;">Данные не найдены</div>
}