﻿@model Monitoring.Models.UserFilterModel
@{
    ViewBag.Title = "Статистика по пользователям";
    var StatusValues = from Account.DAO.PrimaryStatus e in Enum.GetValues(typeof(Account.DAO.PrimaryStatus))
                       where !e.HasFlag(Account.DAO.PrimaryStatus._LAST_)
                       select new { Id = (int)e, Name = e.ToString() };

    var StatusList = new SelectList(StatusValues, "Id", "Name");
}
<div>
    <h3>Информация отчета</h3>
    <div class="filters">
        <div class="block">
            ИНН<br />             
             <input type="text" id="inn" class="long3" /><br />
            Наименование организации<br />             
             <input type="text" id="orgName" class="long3" /><br />
            Текущий статус<br/>
            @Html.DropDownListFor(m => m.currentStatus, StatusList, "Любой", new { id = "currentStatus" })
        </div>  
        <div class="clear"></div>
    </div>
</div>

<h3 class="filters-date">Дата сдачи отчетности<span onclick="today()">за сегодня</span><span onclick="week()">за неделю</span><span onclick="month()">за месяц</span><span onclick="infinite()">за все время</span></h3>
<div class="filters">
  
    <div class="block">
        С<br>
        <input type="text" id="from" class="date" />
    </div>
    <div class="block">
        По<br>
        <input type="text" id="to" class="date" />
    </div>
    <div class="block">
        <input type="submit" name="filter" value="Собрать статистику" onclick="return gather()"/>
    </div>
    <div class="clear"></div>
</div>

<h3>Статистика</h3>
<div id="stats" class="normal"></div>

@section scripts {
<script type="text/javascript">
    function gather() {
        $('#stats').css('opacity', '0.3');
        $.post(
            '@Url.Action("Users", "Home")',
            { 
                'from': $('#from').val(),
                'to': $('#to').val(),
                'inn': $('#inn').val(),
                'orgName': $('#orgName').val(),
                'currentStatus': $('#currentStatus').val()
            },
            function (data) {

                if (String(data).indexOf("Вход в систему мониторинга СПО - Федеральная Служба по Финансовым Рынкам") != -1) {
                    location.href = '@Url.Action("Users", "Home")';
                }
                $('#stats').html(data);
                $('#stats').css('opacity', '1.0');
            }
        );
        return false;
    }

    function setDates(from, to) {
        $('#from').val(
            $.datepicker.formatDate('dd.mm.yy', from)
        );
        $('#to').val(
            $.datepicker.formatDate('dd.mm.yy', to)
        );
    }

    function today() {
        var date = new Date();
        setDates(date, date);
    }

    function week() {
        var d = new Date();
        var to = new Date(d);
        var day = d.getDay();
        var diff = d.getDate() - day + (day == 0 ? -6 : 1);
        var from = new Date(d.setDate(diff));

        setDates(from, to);
    }

    function month() {
        var from = new Date();
        var to = new Date();
        from.setDate(1);

        setDates(from, to);
    }

    function infinite() {
        $('#from').val('');
        $('#to').val('');
    }
</script>
}
