﻿@model List<int>
@{
    List<int> list = new List<int> { };
    
    foreach(int id in @Model)
    {
        list.Add(id);
    }    
}

<table>
    <tr>
        <td>Выберите действие с которого будут перезапущены пакеты:</td>
    </tr>        
    <tr>
        <td><input type="button" value="Начальная обработка" onclick="resubmitAll('@Url.Action("ResubmitAll", "Home")', 0, ActionAll())"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Регистрация в СЭД" onclick="resubmitAll('@Url.Action("ResubmitAll", "Home")', 1, ActionAll())"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Обработка ответа СЭД" onclick="resubmitAll('@Url.Action("ResubmitAll", "Home")', 2, ActionAll())"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Обработка ответа СЭД из БД" onclick="resubmitAll('@Url.Action("ResubmitAll", "Home")', 5, ActionAll())"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Получение письма от СЭД" onclick="resubmitAll('@Url.Action("ResubmitAll", "Home")', 3, ActionAll())"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Валидация" onclick="resubmitAll('@Url.Action("ResubmitAll", "Home")', 4, ActionAll())"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Получение имени региона" onclick="resubmitAll('@Url.Action("ResubmitAll", "Home")', 6, ActionAll())"/></td>
    </tr>
    <tr>
        <td><input type="button" value="Повторная регистрация в РПУ" onclick="resubmitAll('@Url.Action("ResubmitAll", "Home")', 7, ActionAll())"/></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="error"></td>
    </tr>
</table>


<script type="text/javascript">

    function ActionAll() {  
     var ids = @Html.Raw(Json.Encode(list));
     return ids;
    }    
        
</script>
