﻿@model Monitoring.Models.PackageFilterModel
@using Account.DAO
@{
    ViewBag.Title = "Управление пакетами";

    var StatusValues = from PrimaryStatus e in Enum.GetValues(typeof(PrimaryStatus))
                            where !e.HasFlag(PrimaryStatus._LAST_)
                            select new { Id = (int)e, Name = e.ToString() };

    var StatusList = new SelectList(StatusValues, "Id", "Name");
    var SignList = new SelectList(new string[] {"cryptopro", "interpro"});
    var ModelList = new SelectList(new string[] {
        "ЗПУ",
        "ЛКИ",
        "УРКИ",
        "УММ",
        "УСИО",
        "Регистраторы",
        "ПУРЦБ",
        "АЛ"
    });
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
@Html.AntiForgeryToken()

@Html.HiddenFor(m => m.Report.INN)

<div>
    <h3>Пакет отчетности</h3>
    <div class="filters">
        <div class="block">
            ID<br>
            @Html.TextBoxFor(m => m.Package.ID)
        </div>
        <div class="block">
            Название<br>
            @Html.TextBoxFor(m => m.Package.Name, new { @class = "long3" })
        </div>
        <div class="block">
            Владелец<br>
            @Html.TextBoxFor(m => m.Package.Owner, new { @class = "long3" })
        </div>
        <div class="clear"></div>
        <div class="block">
            Тип подписи<br>
            @Html.DropDownListFor(m => m.Package.Signature, SignList, "Любая")
        </div>
        <div class="block">
            Текущий статус<br>
            @Html.DropDownListFor(m => m.Package.CurrentStatusCode, StatusList, "Любой")
        </div>
        <div class="block">
            Модель<br/>
            @Html.DropDownListFor(m => m.Report.Model, ModelList, "Любая")
        </div>
        <div class="block last">
            Изначальный статус<br>
            @Html.DropDownListFor(m => m.Package.InitialStatusCode, StatusList, "Любой")
        </div>
        <div class="clear"></div>
    </div>
</div>

<h3 class="filters-date">Дата сдачи отчетности<span onclick="today()">за сегодня</span><span onclick="week()">за неделю</span><span onclick="month()">за месяц</span><span onclick="infinite()">за все время</span></h3>
<div class="filters">
    <div class="block">
        С<br>
        @Html.TextBoxFor(m => m.from, new { @class = "date" })
    </div>
    <div class="block">
        По<br>
        @Html.TextBoxFor(m => m.to, new { @class = "date" })
    </div>
    <div class="block">
        <input type="submit" name="filter" value="Собрать статистику" onclick="return gather('@Url.Action("Packages", "Home")');"/>
    </div>
    <div class="block">
        <input type="button" name="actions" style="margin-top: 20px" value="Управление"  onclick="ShowAction();"/>
    </div>
    <div style="clear: both"></div>
</div>
}

<h3>Список пакетов</h3>
<div id="stats"></div>

@section scripts {
<script type="text/javascript">

    function ShowAction() {
        var check_items = $('.checkbox');
        var ids = [];
        for (var i = 0; i < check_items.length; i++) {
            if (check_items[i].firstChild.checked == true) {
                var id = check_items[i].firstChild.getAttribute("id").replace("select", "");
                ids.push(id);
            }
        }

        $.ajax({
            url: '@Url.Action("ActionsList", "Home")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                items: ids
            }),
            success: function (data) {

                if (String(data).indexOf("Вход в систему мониторинга СПО - Федеральная Служба по Финансовым Рынкам") != -1) {
                    location.href = '@Url.Action("Login", "Account")';
                }
                $('#report-' + id).html(data);

                $('#report-' + id)
                    .attr('title', 'Управление')
                    .dialog({ width: 400, height: 300 });
            }

        });        

        }

    $('#selectall').live('click', function () {
        if ($(this).is(':checked')) {
            $('tr.selectable input[type="checkbox"]').attr('checked', 'checked');
        } else {
            $('tr.selectable input[type="checkbox"]').attr('checked', null);
        }
    });
    $('tr.selectable td.checkbox').live('click', function (e) {
        if (e.stopPropagation) {
            e.stopPropagation();
        } else {
            window.event.cancelBubble = true
        }
    });
    $('tr.selectable').live('click', function () {
        id = $(this).attr('pid');
        
        showReport(
            '@Url.Action("Actions", "Home")',
            id,
            {
                title: 'Управление',
                width: 400,
                height: 300
            }
        );
        });
        
</script>
}