﻿@model Account.Models.LocalPasswordModel

@{
    ViewBag.Title = "ChangePasswordFiz";
}

<h2>Смена пароля</h2>

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Login)
    <table class="table-layout ">
        <colgroup><col style="width: 250px"/>
        </colgroup><tbody>
            <tr>
                <td>@Html.LabelFor(m => m.OldPassword)<br/>@Html.ValidationMessageFor(m => m.OldPassword)</td>
                <td>@Html.TextBoxFor(m => m.OldPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)<br/>@Html.ValidationMessageFor(m => m.NewPassword)</td>
                <td>@Html.TextBoxFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)<br/>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
                <td>@Html.TextBoxFor(m => m.ConfirmPassword)</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Изменить пароль" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="window.location='@Url.Action("RequisitesIn", "Home", new { @id = Model.Login } )'; return false" /></td>
            </tr>
        </tbody>
    </table>
    }
</div>
