﻿@model Account.Models.UserIndividualModel

@{
    ViewBag.Title = "Редактирование профиля физического лица - Федеральная Служба по Финансовым Рынкам";
}

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken();
    <table class="table-layout ">
        <colgroup><col style="width: 250px">
        </colgroup><tbody>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.Login)<span class="small">(адрес электронной почты)</span><br/>@Html.ValidationMessageFor(m => m.Login)</td>
                <td>@Html.TextBoxFor(m => m.Login, new { @value = Model.Login })</td>
                <td>@Html.LabelFor(m => m.Info.Passport_Seria)<br>@Html.ValidationMessageFor(m => m.Info.Passport_Seria)</td>
                <td>@Html.TextBoxFor(m => m.Info.Passport_Seria)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td id="password">@Html.HiddenFor(m => m.Password)<input class="btn" type="submit" value="Сбросить пароль" onclick="return resetPassword()" /></td>
                <td>@Html.LabelFor(m => m.Info.Passport_Number)<br/>@Html.ValidationMessageFor(m => m.Info.Passport_Number)</td>
                <td>@Html.TextBoxFor(m => m.Info.Passport_Number)</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>@Html.CheckBoxFor(m => m.IsActive) @Html.LabelFor(m => m.IsActive)</td>
                <td>@Html.LabelFor(m => m.Info.Passport_GrantedBy)<br/>@Html.ValidationMessageFor(m => m.Info.Passport_GrantedBy)</td>
                <td>@Html.TextBoxFor(m => m.Info.Passport_GrantedBy)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FirstName)<br/>@Html.ValidationMessageFor(m => m.FirstName)</td>
                <td>@Html.TextBoxFor(m => m.FirstName)</td>
                <td>@Html.LabelFor(m => m.Info.Passport_GrantedDate)<br>@Html.ValidationMessageFor(m => m.Info.Passport_GrantedDate)</td>
                <td>@Html.TextBoxFor(m => m.Info.Passport_GrantedDate, new { @class = "date" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.SecondName)<br/>@Html.ValidationMessageFor(m => m.SecondName)</td>
                <td>@Html.TextBoxFor(m => m.SecondName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.MiddleName)<br/>@Html.ValidationMessageFor(m => m.MiddleName)</td>
                <td>@Html.TextBoxFor(m => m.MiddleName)</td>
                <td>@Html.LabelFor(m => m.UC_Name)<br/>@Html.ValidationMessageFor(m => m.UC_Name)</td>
                <td>@Html.TextBoxFor(m => m.UC_Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.BirthDate)<br/>@Html.ValidationMessageFor(m => m.BirthDate)</td>
                <td>@Html.TextBoxFor(m => m.BirthDate, new { @class = "date" })</td>
                <td>@Html.LabelFor(m => m.UC_INN)<br/>@Html.ValidationMessageFor(m => m.UC_INN)</td>
                <td>@Html.TextBoxFor(m => m.UC_INN)</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Сохранить изменения" /></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="return goBack()"/></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $("#BirthDate").val($("#BirthDate").val().substr(0, 10));
        $("#Info_Passport_GrantedDate").val($("#Info_Passport_GrantedDate").val().substr(0, 10));
        
        function resetPassword() {
            $.post(
                '@Url.Action("ResetPasswordFiz", "Account")',
                function (data) {
                    $('#password').html(data);
                }
            );
            return false;
        }

        function goBack() {
            window.location = '@Url.Action("ParticipantsFiz", "Home")';
            return false;
        }
    </script>
}