﻿@model Account.DAO.UserIndividual

@{
    ViewBag.Title = "Реквизиты - Федеральная Служба по Финансовым Рынкам";
}

<table class="table-layout requisites-table">
    <colgroup><col style="width: 250px"></colgroup>
    <tbody>
        <tr>
            <td>Логин <span class="small">(электронная почта)</span></td>
            <td><a href="mailto:@Model.Login">@Model.Login</a></td>
        </tr>
        <tr class="odd">
            <td>Статус</td>
            @if (Model.IsActive)
            {
            <td><span class="positive">Активный</span></td>
            }
            else
            {
            <td><span class="negative">Не активный</span></td>
            }
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>@Model.SecondName</td>
        </tr>
        <tr class="odd">
            <td>Имя</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>@Model.MiddleName</td>
        </tr>
        <tr class="odd">
            <td>Дата рождения</td>
            <td>@Model.BirthDate.ToString("dd.MM.yyyy")</td>
        </tr>
        <tr>
            <td>Название Удостоверяющего центра</td>
            <td>@Model.UC_Name</td>
        </tr>
        <tr>
            <td>ИНН Удостоверяющего центра</td>
            <td>@Model.UC_INN</td>
        </tr>
    </tbody>
</table>