﻿@model Account.DAO.UserAccount

@{
    ViewBag.Title = "Информация об аккаунте - Федеральная Служба по Финансовым Рынкам";
}

<table class="table-layout requisites-table">
    <colgroup><col style="width: 250px"></colgroup>
    <tbody>
        <tr>
            <td>Логин <span class="small">(электронная почта)</span></td>
            <td><a href="mailto:@Model.Login">@Model.Login</a></td>
        </tr>
        <tr class="odd">
            <td>Статус</td>
            @if (Model.IsActive)
            {
            <td><span class="positive">Активный</span></td>
            }
            else
            {
            <td><span>Не активный</span></td>
            }
        </tr>
        <tr>
            <td>Краткое наименование </td>
            <td>@Model.Company</td>
        </tr>
        <tr class="odd">
            <td>Контактный телефон</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>ФИО контактного лица</td>
            <td>@Model.FIO</td>
        </tr>
        <tr class="odd">
            <td>ИНН</td>
            <td>@Model.INN</td>
        </tr>
        <tr>
            <td>ОГРН</td>
            <td>@Model.OGRN</td>
        </tr>
    </tbody>
</table>