﻿@model Account.Models.LoginModel

@{
    ViewBag.Title = "Личный кабинет участника финансового рынка";
    var ValidationErrors = Html.ValidationSummary(true);
}

<div class="content">

<section id="loginForm" class="login-form">
    
    <h2>Вход в личный кабинет</h2>
    <div class="clear"></div>
    <!-- LOGIN -->
    <section class="auth">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <fieldset>
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "login-field-empty" })
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                <br />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "login-field-empty" })
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                <br />
                @Html.CheckBoxFor(m => m.IAmFiz)
                @Html.LabelFor(m => m.IAmFiz, new { @class = "checkbox" })
         
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })      
        
                <input class="clearfix btn" type="submit" value="Безопасный вход" onclick="safeLogin();" /><input class="clearfix btn fr" type="submit" value="Войти" />
                <a class="ssl-cert clear dbi" href="/Content/ca.crt">SSL-cертификат</a>
            </fieldset>
        }
    </section>
    @if (ValidationErrors != null)
    {
    <div style="position: relative; float: left; width: 0px; height: 0px;"><div class="layout error-box dbi" style="position: relative; top: -60px; left: 13px; float: left; min-width: 280px;">@ValidationErrors</div></div>
    }
    <!-- LINKS PANEL -->
    <section class="links">
        <ul>
            <li><a class="reg" href="@Url.Action("RegistrationRequest", "Account")">Оставить заявку на регистрацию</a></li>            
            <li><a class="reports" href="~/Installer/Transport.application">Скачать и запустить АРМ загрузки отчетности</a></li>
            <li><a class="instruction" href="http://lk.fcsm.ru/content/Инструкция_ЛК.zip">ИНСТРУКЦИЯ по представлению участниками финансового рынка электронных документов в Банк России</a></li>
        </ul>
        <div class="info">
            <p>Служба технической<br />информационной поддержки:</p>
            <p>Контактный телефон:<br /><span>(495) 781-57-03</span></p>
            <p>Электронная почта:<br /><span><a href="#">help@ffms.ru</a></span></p>
        </div>
    </section>
</section>

<div>
    <span style="color: red"><u>Информация для микрофинансовых организаций</u></span><br /><br />
    11.02.2014. <b>Демо-версия программы «Анкета.Редактор. Отчетность микрофинансовых организаций»</b> (версия 1.0.1.43) <a href="http://lk.fcsm.ru/content/editor_mfo.zip">[скачать]</a> <br />
    Обращаем внимание, что демо-версия программы «Анкета.Редактор.Отчетность микрофинансовых организаций» предназначена исключительно для проведения тестирования.<br />
    Замечания и предложения по функционированию демо-версии программы «Анкета.Редактор. Отчетность микрофинансовых организаций» предлагаем направлять по электронной почте на адрес: <a href="mailto:mfo@ffms.ru">mfo@ffms.ru</a><br /><br />
    
</div>
<!-- NEWS -->

<div class="news">

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function safeLogin() {
        var safeHost = "https://" + window.location.host;
        var safeUrl = safeHost + $("form").attr("action").replace(safeHost, "");
        $("form").attr("action", safeUrl);
    }

    $(document).ready(function () {
        $.get(
            '@Url.Action("Index", "News")',
            {},
            function (data) {
                $('.news').html(data);
            }
        );
    });

    function showNews(y, m) {
        $.get(
            '@Url.Action("Index", "News")',
            { "year": y, "month": m },
            function (data) {
                $('.news').html(data);
            }
        );
    }
</script>
</div>
</div>