﻿@model Account.Models.RegistrationRequestUrModel

@{
    ViewBag.Title = "Заявка на регистрацию юридического лица - Федеральная Служба по Финансовым Рынкам";
    Model.SignedData = "ContentToSign";
}

<h2>Ваша заявка на регистрацию участника для юридических лиц принята</h2>

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken();
    <table class="table-layout ">
        <colgroup><col style="width: 250px">
        </colgroup><tbody>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.Login)<span class="small">(адрес электронной почты)</span></td>
                <td>@Model.Login</td>
                <td>@Html.LabelFor(m => m.Company)</td>
                <td>@Model.Company</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Model.Password</td>
                <td>@Html.LabelFor(m => m.INN)</td>
                <td>@Model.INN</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>@Html.LabelFor(m => m.OGRN)</td>
                <td>@Model.OGRN</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FIO)</td>
                <td>@Model.FIO</td>
                <td>@Html.LabelFor(m => m.Phone)</td>
                <td>@Model.Phone</td>
            </tr>            
            <tr>
                <td></td>
                <td></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="window.location='@Url.Action("Login", "Account")'; return false" /></td>
            </tr>
        </tbody>
    </table>
    }
</div>