﻿@{
    ViewBag.Title = "Заявка на регистрацию - Федеральная Служба по Финансовым Рынкам";
}

<h2>Заявка на регистрацию участника</h2>

<div class="register-form dbi">
    <input class="btn" type="submit" value="Для юридических лиц" onclick="window.location='@Url.Action("RegistrationRequestUr", "Account")'">
    <input class="btn" type="submit" value="Для физических лиц" onclick="window.location='@Url.Action("RegistrationRequestFiz", "Account")'">
</div>
<div class="clear"><br/></div>
<div class="register-form dbi">
    <input class="btn" type="submit" value="Вернуться" onclick="window.location='@Url.Action("Index", "Home")'">
</div>