﻿@model Account.Models.UserIndividualModel

@{
    ViewBag.Title = "Регистрация физического лица - Федеральная Служба по Финансовым Рынкам";
}

<h2>Ваша заявка на регистрацию участника для физических лиц принята</h2>

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken();
    <table class="table-layout ">
        <colgroup><col style="width: 250px">
        </colgroup><tbody>
            <tr>
                <td>@Html.LabelFor(m => m.FirstName)</td>
                <td>@Model.FirstName</td>
                <td>@Html.LabelFor(m => m.Info.Passport_Seria)</td>
                <td>@Model.Info.Passport_Seria</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.SecondName)</td>
                <td>@Model.SecondName</td>
                <td>@Html.LabelFor(m => m.Info.Passport_Number)</td>
                <td>@Model.Info.Passport_Number</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.MiddleName)</td>
                <td>@Model.MiddleName</td>
                <td>@Html.LabelFor(m => m.Info.Passport_GrantedBy)</td>
                <td>@Model.Info.Passport_GrantedBy</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.BirthDate)</td>
                <td>@Model.BirthDate.ToShortDateString()</td>
                <td>@Html.LabelFor(m => m.Info.Passport_GrantedDate)</td>
                <td>@Model.Info.Passport_GrantedDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Login)<span class="small">(адрес электронной почты)</span></td>
                <td>@Model.Login</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.UC_Name)</td>
                <td>@Model.UC_Name</td>
                <td>@Html.LabelFor(m => m.UC_INN)</td>
                <td>@Model.UC_INN</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="window.location='@Url.Action("Login", "Account")'; return false" /></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    }
</div>