﻿@model Account.Models.UserAccountModel

@{
    ViewBag.Title = "Редактирование профиля юридического лица - Федеральная Служба по Финансовым Рынкам";
}

@*
@Html.ValidationSummary(true, "", new { @class = "layout error-box dbi maxwidth" })
<div class="clearfix"></div>
*@

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken();
    <table class="table-layout ">
        <colgroup><col style="width: 250px">
        </colgroup><tbody>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.Login)<span class="small">(адрес электронной почты)</span><span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Login)</td>
                <td>@Html.TextBoxFor(m => m.Login)</td>
                <td>@Html.LabelFor(m => m.Company)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Company)</td>
                <td>@Html.TextBoxFor(m => m.Company)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Password)</td>
                <td>@Html.TextBoxFor(m => m.Password, new { @readonly = true })</td>
                <td>@Html.LabelFor(m => m.INN)<span style="color: red"> *</span>&nbsp;&nbsp;<img title="Данные из ЕГРЮЛ" width="16px" height="16px" alt="Данные из ЕГРЮЛ" id="egrul" src="/content/get_info.png" />
                <br/>@Html.ValidationMessageFor(m => m.INN)<div id="egrul-info" class="report-info" title="Информация о пакете"></div></td>
                <td>@Html.TextBoxFor(m => m.INN, new { id = "inn" })</td>
            </tr>
            <tr>
                <td>Статус<span style="color: red"> *</span></td>
                <td>@Html.CheckBoxFor(m => m.IsActive) @Html.LabelFor(m => m.IsActive)</td>
                <td>@Html.LabelFor(m => m.OGRN)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.OGRN)</td>
                <td>@Html.TextBoxFor(m => m.OGRN)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FIO)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.FIO)</td>
                <td>@Html.TextBoxFor(m => m.FIO)</td>
                <td>@Html.LabelFor(m => m.Phone)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Phone)</td>
                <td>@Html.TextBoxFor(m => m.Phone)</td>
            </tr>
            <tr>
                <td></td>
                <td><span style="color: red">*</span> - поля обязательные для заполнения</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Зарегистрировать" onclick="return tryToSubmit()" /></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="return goBack()" /></td>
            </tr>
        </tbody>
    </table>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $("#egrul").click(function () {
            showEgrul(
                '@Url.Action("EgrulData", "Home")',
                $("#inn").val(),
                {
                    title: 'ЕГРЮЛ',
                    width: 600,
                    height: 400
                }
            );
        });
        
        function resetPassword() {
            $.post(
                '@Url.Action("ResetPasswordUr", "Account")',
                function (data) {
                    $('#password').html(data);
                }
            );
            return false;
        }

        function goBack() {
            window.location = '@Url.Action("ParticipantsUr", "Home")';
            return false;
        }
    </script>
}