﻿@model Account.Models.UserIndividualModel

@{
    ViewBag.Title = "Регистрация физического лица - Федеральная Служба по Финансовым Рынкам";
}

<h2>Заявка на регистрацию участника для физических лиц</h2>

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken();
    <table class="table-layout ">
        <colgroup><col style="width: 250px">
        </colgroup><tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Login)<span class="small">(адрес электронной почты)</span><span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.Login)</td>
                <td>@Html.TextBoxFor(m => m.Login)</td>
                <td>@Html.LabelFor(m => m.Info.Passport_Seria)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.Info.Passport_Seria)</td>
                <td>@Html.TextBoxFor(m => m.Info.Passport_Seria)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.Password)</td>
                <td>@Html.TextBoxFor(m => m.Password, new { @readonly = true })</td>
                <td>@Html.LabelFor(m => m.Info.Passport_Number)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.Info.Passport_Number)</td>
                <td>@Html.TextBoxFor(m => m.Info.Passport_Number)</td>
            </tr>
            <tr>
                <td>Статус<span style="color: red"> *</span></td>
                <td>@Html.CheckBoxFor(m => m.IsActive) @Html.LabelFor(m => m.IsActive)</td>
                <td>@Html.LabelFor(m => m.Info.Passport_GrantedBy)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.Info.Passport_GrantedBy)</td>
                <td>@Html.TextBoxFor(m => m.Info.Passport_GrantedBy)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FirstName)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.FirstName)</td>
                <td>@Html.TextBoxFor(m => m.FirstName)</td>
                <td>@Html.LabelFor(m => m.Info.Passport_GrantedDate)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.Info.Passport_GrantedDate)</td>
                <td>@Html.TextBoxFor(m => m.Info.Passport_GrantedDate, new { @class = "date" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.SecondName)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.SecondName)</td>
                <td>@Html.TextBoxFor(m => m.SecondName)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.MiddleName)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.MiddleName)</td>
                <td>@Html.TextBoxFor(m => m.MiddleName)</td>
                <td>@Html.LabelFor(m => m.UC_Name)<br>@Html.ValidationMessageFor(m => m.UC_Name)</td>
                <td>@Html.TextBoxFor(m => m.UC_Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.BirthDate)<span style="color: red"> *</span><br>@Html.ValidationMessageFor(m => m.BirthDate)</td>
                <td>@Html.TextBoxFor(m => m.BirthDate, new { @class = "date" })</td>
                <td>@Html.LabelFor(m => m.UC_INN)<br>@Html.ValidationMessageFor(m => m.UC_INN)</td>
                <td>@Html.TextBoxFor(m => m.UC_INN)</td>
            </tr>
            <tr>
                <td><div style="font-weight: bold">Нажимая кнопку "Зарегистрироваться" вы соглашаетесь с <a href="">условиями</a> о передаче персональных данных в ФСФР России.</div></td>
                <td><input class="btn" type="submit" value="Зарегистрироваться" /></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="window.location='@Url.Action("RegistrationRequest", "Account")'; return false" /></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @if (Model.BirthDate == DateTime.MinValue)
    {
            <script>                $('#BirthDate').val('');</script>
    }
    @if (Model.Info.Passport_GrantedDate == DateTime.MinValue)
    {
        <script>            $('#Info_Passport_GrantedDate').val('');</script>
    }
}