﻿@model Account.Models.RegistrationRequestUrModel

@{
    ViewBag.Title = "Заявка на регистрацию юридического лица - Федеральная Служба по Финансовым Рынкам";
    Model.SignedData = "ContentToSign";
}

<h2>Заявка на регистрацию участника для юридических лиц</h2>

<div class="register-form dbi">
    @using(Html.BeginForm())
    {
    @Html.AntiForgeryToken();
    <table class="table-layout ">
        <colgroup><col style="width: 250px">
        </colgroup><tbody>
            <tr>
                <td class="tar">@Html.LabelFor(m => m.Login)<span class="small">(адрес электронной почты)</span><span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Login)</td>
                <td>@Html.TextBoxFor(m => m.Login)</td>
                <td>@Html.LabelFor(m => m.Company)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Company)</td>
                <td>@Html.TextBoxFor(m => m.Company)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
                <td>@Html.LabelFor(m => m.INN)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.INN)</td>
                <td>@Html.TextBoxFor(m => m.INN)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.PasswordConfirmation)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.PasswordConfirmation)</td>
                <td>@Html.PasswordFor(m => m.PasswordConfirmation)</td>
                <td>@Html.LabelFor(m => m.OGRN)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.OGRN)</td>
                <td>@Html.TextBoxFor(m => m.OGRN)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FIO)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.FIO)</td>
                <td>@Html.TextBoxFor(m => m.FIO)</td>
                <td>@Html.LabelFor(m => m.Phone)<span style="color: red"> *</span><br/>@Html.ValidationMessageFor(m => m.Phone)</td>
                <td>@Html.TextBoxFor(m => m.Phone)</td>
            </tr>
           
            <tr>
                <td></td>
                <td colspan="3" visible="false">
                    <input type="checkbox" id="IamProf" onclick="EnableSubmit()" /> Я являюсь проф. участником<span style="color: red"> *</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><span style="color: red">*</span> - поля обязательные для заполнения</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Оставить заявку" id="sbmt" onclick="return tryToSubmit()" /></td>
                <td><input class="btn" type="submit" value="Вернуться" onclick="window.location='@Url.Action("RegistrationRequest", "Account")'; return false" /></td>
            </tr>
        </tbody>
    </table>
    }
</div>
<div id="pluginLocation">
    <!-- <object id="signer" codeBase="/Content/PSWebSignComponent.cab" type="application/x-pswebsigncomponent" style="width: 0px !important; height: 0px !important;"></object> -->
</div>

@section scripts
{
    @Scripts.Render("~/bundles/psWebSign")

	<script type="text/javascript" language="javascript">
	    function EnableSubmit() {
	        var sbmt = document.getElementById("sbmt");
	        var iamprof = document.getElementById("IamProf");

	        if (iamprof.checked == true) {
	            sbmt.disabled = false;
	        }
	        else {
	            sbmt.disabled = true;
	        }
	    }

	    EnableSubmit();

        function tryToSubmit() {
	        if ($('#IsCertificateInstalled').is(':checked')) {
	            return GenerateSignature();
	        }
	        else {
	            return $('form').submit();
	        }
		}

		function GenerateSignature() {
		    try {
		        var signer = document.getElementById('signer');
		        var r = wsc_signData(
					signer,
					$('#SignedData').val(),
		            // certificateSelector
					{title: "Выберите сертификат ЭЦП", noUI: false, attributes: {} },
		            // signatureParams
					{includeCert: true, includeCertChain: true, includeTimestamp: true }
				);
		        if (r != null) {
		            $('#Signature').val(r);
		            return false; // $('form').submit();
		        }
		    }
		    catch (s) {
		        alert("Ошибка подписания: " + s);
		        return false;
		    }
		}

		wsc_renderObject('signer', document.getElementById('pluginLocation'), 'Content');
	</script>
}
