﻿@model Account.EgrulService.Egrul[]

@{
    ViewBag.Title = "ЕГРЮЛ";
}
<h2>Данные из ЕГРЮЛ</h2>
<div>
    @foreach (var org in Model)
    {
        <div>
        <table>
            <tr>
                <td>Наименование</td>
                <td>@org.Name</td>
            </tr>
            <tr>
                <td>ИНН</td>
                <td>@org.INN</td>
            </tr>
            <tr>
                <td>ОГРН</td>
                <td>@org.OGRN</td>
            </tr>
            <tr>
                <td>КПП</td>
                <td>@org.KPP</td>
            </tr>
            <tr>
                <td>Адресс</td>
                <td>@String.Format("{6}, {0}, {1}, {2}, {3}, {4}, д. {5}, корп. {7}, кв. {8}",
                org.REGION_NAME, org.RAION_NAME, org.GOROD_NAME, org.NASPUNKT_NAME, org.STREET_NAME, org.ADDRESS_DOM, org.ADDRESS_INDEKS, org.ADDRESS_KORP, org.ADDRESS_KVART)</td>
            </tr>
        </table>
        <div style="width: 100%;height: 2px;background-color: Black;"></div>
        </div>
    }    
</div>
