﻿@model Account.Models.FilterTableModel<Account.Models.PackageModel, Account.DAO.PackageFullInfo>
@using Account.Helpers

@{
    ViewBag.Title = "Отправленные документы - Федеральная Служба по Финансовым Рынкам";
    var Packages = Model.DataList.GetCurrentPageList();
}

<div class="table-container">
    <form method="post">
        @Html.HiddenFor(m => m.DataList.Page, new { Class="Page-value" })
        @Html.HiddenFor(m => m.DataList.PageSize, new { Class = "PageSize-value" })
        @Html.HiddenFor(m => m.SortingField, new { Class = "SortingField-value" })
        @Html.HiddenFor(m => m.SortingType, new { Class = "SortingType-value" })
        <div id="reports">
            @FilterTableHelper.FilterTable(Model)
        </div>
    </form>
</div>

@FilterTableHelper.FilterTablePaging(Model)

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
}