﻿@model Account.Models.FilterTableModel<Account.Models.UserAccountModel, Account.DAO.UserAccount>
@using Account.Helpers

@{
    ViewBag.Title = "Список пользователей - Федеральная Служба по Финансовым Рынкам";
}

<div class="table-container">
    <form method="post">
        @Html.Hidden("returnUrl", Request.Url.AbsoluteUri)
        @Html.HiddenFor(m => m.DataModel.IsActive, new { Class="IsActive-value" })
        @Html.HiddenFor(m => m.DataList.Page, new { Class="Page-value" })
        @Html.HiddenFor(m => m.DataList.PageSize, new { Class = "PageSize-value" })
        @Html.HiddenFor(m => m.SortingField, new { Class = "SortingField-value" })
        @Html.HiddenFor(m => m.SortingType, new { Class = "SortingType-value" })
        <div id="reports">
            @FilterTableHelper.FilterTable(Model)
            @if (Model.DataList.DataQuery.Count() == 0)
            {
                <div style="width: 300px; margin: 0 auto;">По вашему запросу данных не найдено</div>
            }
        </div>
    </form>
</div>

@FilterTableHelper.FilterTablePaging(Model)

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        function confirmDelete(email) {
            result = confirm("Вы уверены что хотите удалить пользователя <" + email + ">?")
            if (result) {
                $.post(
                    '@Url.Action("DeleteUr", "Account")',
                    { 'id': email, 'returnUrl': '@Request.Url.AbsoluteUri'},
                    function(data) {
                        window.location.reload();
                    }
                );
            }
            return result;
        }

    </script>
}
