﻿@model Account.DAO.UserIndividual

@{
    ViewBag.Title = "Реквизиты - Федеральная Служба по Финансовым Рынкам";
}

<table class="table-layout requisites-table">
    <colgroup><col style="width: 250px"></colgroup>
    <tbody>
        <tr>
            <td>Логин <span class="small">(электронная почта)</span></td>
            <td><a href="mailto:@Model.Login">@Model.Login</a></td>
        </tr>
        <tr class="odd">
            <td>Статус</td>
            @if (Model.IsActive)
            {
            <td><span class="positive">Активный</span></td>
            }
            else
            {
            <td><span class="negative">Не активный</span></td>
            }
        </tr>
        
            <tr>
            <td>ФИО контактного лица</td>
            <td>@Model.SecondName @Model.FirstName @Model.MiddleName</td>
            </tr>
              
    </tbody>
</table>

<div class="layout layout-dark dbi requisites-opt">    
    <p class="requisites-opt-item">
        <a class="pass-change" href="@Url.Action("ChangePasswordFiz", "Account", new { @id = Model.Login })">Сменить пароль</a>
    </p>
</div>

@section scripts
{
    <script type="text/javascript">
        function changeNotification() {
            $("#EnableNotification").attr('disabled', 'disabled');
            $.post(
                '@Url.Action("ChangeNotificationUr", "Account", new { @id = Model.Login })',
                { 'enabled': $("#EnableNotification").is(":checked") },
                function (data) {
                    $("#EnableNotification").attr('disabled', null);
                }
            )
        }
    </script>
}