﻿@model Account.DAO.UserAccount

@{
    ViewBag.Title = "Реквизиты - Федеральная Служба по Финансовым Рынкам";
}

<table class="table-layout requisites-table">
    <colgroup><col style="width: 250px"></colgroup>
    <tbody>
        <tr>
            <td>Логин <span class="small">(электронная почта)</span></td>
            <td><a href="mailto:@Model.Login">@Model.Login</a></td>
        </tr>
        <tr class="odd">
            <td>Статус</td>
            @if (Model.IsActive)
            {
            <td><span class="positive">Активный</span></td>
            }
            else
            {
            <td><span class="negative">Не активный</span></td>
            }
        </tr>
        @if (Model.OGRN != null)
        {
        <tr>
            <td>Краткое наименование </td>
            <td>@Model.Company</td>
        </tr>
        <tr class="odd">
            <td>Контактный телефон</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>ФИО контактного лица</td>
            <td>@Model.FIO</td>
        </tr>
        <tr class="odd">
            <td>ИНН</td>
            <td>@Model.INN</td>
        </tr>        
        <tr>
            <td>ОГРН</td>
            <td>@Model.OGRN</td>
        </tr>
        }
        else
        {
            <tr>
            <td>ФИО контактного лица</td>
            <td>@Model.FIO</td>
            </tr>
        }        
    </tbody>
</table>

<div class="layout layout-dark dbi requisites-opt">
    <p class="bordered requisites-opt-item">
        @Html.CheckBoxFor(m => m.EnableNotification, new { @onclick = "changeNotification()" })
        <label for="get-mail-notices">Получать почтовые уведомления</label>
    </p>
    <p class="requisites-opt-item">
        <a class="pass-change" href="@Url.Action("ChangePasswordUr", "Account", new { @id = Model.Login })">Сменить пароль</a>
    </p>
</div>

@section scripts
{
    <script type="text/javascript">
        function changeNotification() {
            $("#EnableNotification").attr('disabled', 'disabled');
            $.post(
                '@Url.Action("ChangeNotificationUr", "Account", new { @id = Model.Login })',
                { 'enabled': $("#EnableNotification").is(":checked") },
                function (data) {
                    $("#EnableNotification").attr('disabled', null);
                }
            )
        }
    </script>
}