﻿@model Account.Models.ResponseModel

@{
    ViewBag.Title = "Ответить";
    var errors = Html.ValidationSummary("", new { @class = "layout error-box dbi maxwidth" });
}


<p>Выберите загружаемый документ и нажмите кнопку "Ответить".</p>
<div class="upload-form">
    @using (Html.BeginForm("Response", "Home", FormMethod.Post, new { @class="layout layout-dark dbi", enctype="multipart/form-data" }))
    {
        @Html.AntiForgeryToken();               
        <p class="upload-item bordered">
            @Html.LabelFor(m => m.Report)
            @Html.TextBoxFor(m => m.Report, new { type = "file" })            
        </p>                 
    }
    <br>
    <input class='btn' type="submit" value='Ответить' onclick="$('form').submit()">
</div>

@if (!errors.ToString().Contains("display:none"))
{
    @errors
}

@section scripts {
    <script type="text/javascript">
        $("#Report").change(function () {
            console.debug($(this).val());
            var fileName = $(this).val()
            fileName = fileName.substring(
                fileName.lastIndexOf("\\") + 1,
                fileName.lastIndexOf(".")
            );
            $("#Name").val(fileName);
        });
    </script>
}