﻿@model Account.Models.SendModel

@{
    ViewBag.Title = "Отправить документ";
    var errors = Html.ValidationSummary("", new { @class = "layout error-box dbi maxwidth" });
}


<p>Введите ИНН участника, выберите загружаемый документ и нажмите кнопку "Отправить документ".</p>
<div class="upload-form">
    @using (Html.BeginForm("Send", "Home", FormMethod.Post, new { @class="layout layout-dark dbi", enctype="multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
         <p class="upload-item bordered">
            @Html.ValidationMessageFor(m => m.INN, "", new { @class = "login-field-empty" })
        @Html.LabelFor(m => m.INN)
        @Html.TextBoxFor(m => m.INN)           
        </p>        
        <p class="upload-item bordered">
            @Html.LabelFor(m => m.Report)
            @Html.TextBoxFor(m => m.Report, new { type = "file" })            
        </p>        
    }
    <br>
    <input class='btn' type="submit" value='Отправить документ' onclick="$('form').submit()">
</div>

@if (!errors.ToString().Contains("display:none"))
{
    @errors
}

@section scripts {
    <script type="text/javascript">
        $("#Report").change(function () {
            console.debug($(this).val());
            var fileName = $(this).val()
            fileName = fileName.substring(
                fileName.lastIndexOf("\\") + 1,
                fileName.lastIndexOf(".")
            );
            $("#Name").val(fileName);
        });
    </script>
}