﻿@model Account.Models.UploadModel

@{
    ViewBag.Title = "Загрузить";
    var errors = Html.ValidationSummary("", new { @class = "layout error-box dbi maxwidth" });
}

<p>Пожалуйста, выберите загружаемый документ и нажмите кнопку "Загрузить".</p>
<div class="upload-form">
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { @class="layout layout-dark dbi", enctype="multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <p class="upload-item bordered">
            @Html.LabelFor(m => m.Report)
            @Html.TextBoxFor(m => m.Report, new { type = "file" })            
        </p>
        <p class="upload-item bordered">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </p>
    }
    <br>
    <input class='btn' type="submit" value='Загрузить' onclick="$('form').submit()">
</div>

@if(!errors.ToString().Contains("display:none"))
{
    @errors
}

@section scripts {
    <script type="text/javascript">
        $("#Report").change(function () {
            var fileName = $(this).val()
            fileName = fileName.substring(
                fileName.lastIndexOf("\\") + 1,
                fileName.lastIndexOf(".")
            );
            $("#Name").val(fileName);
        });
    </script>
}