﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
    <div class="content">
        <header class='header'>
            <figure class='logo'>
                <a href="/"><img src="~/Images/logo.jpg" alt="ФСФР"></a>
            </figure>
            <h1><br />Личный кабинет участника финансового рынка</h1>
            
        </header>
        <div class="clear"></div>
        @RenderPage("_LoginPartial.cshtml")
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        
    </div>
            
    @RenderSection("scripts", required: false)
    </body>
</html>
