﻿@if ((Request.IsAuthenticated) && (User != null) && ((User.Account!=null) || (User.Individual != null)))
{
    string active = "";
    string action = ViewContext.RouteData.Values["Action"].ToString();
    string controller = ViewContext.RouteData.Values["Controller"].ToString();
    string role = "Пользователь";
    if (User != null)
    {
        if ((User.Account != null) && User.Account.IsAdmin)
        {
            role = "Администратор";
        }
    }
    string person = "";
    if (Session["Impersonated"] != null)
    {
        person = Session["Impersonated"].ToString();
    }
    else
    {
        if (User != null)
        {
            if (User.Account != null)
            {
                person = User.Account.Login;
            }
            else if (User.Individual != null)
            {
                person = User.Individual.Login;
            }            
        }
    }
    string impersonation = Session["Impersonated"] == null ? "" : string.Format("(Включен просмотр ЛК под пользователем <{0}>)", Session["Impersonated"]);
    <nav class="user-panel">
        <p class="user-info">@role @User.Identity.Name</p>
        @*
        @if (impersonation.IsEmpty())
        {
            <p class="user-info">@role @User.Identity.Name</p>
        }
        else
        {
            <p class="user-info">@role @User.Identity.Name @impersonation <a href="@Url.Action("Impersonate", "Account", new { @id = User.Account.Login })">[x Выключить]</a></p>
        }
        *@
        <a class="user-panel-exit" id="logout-link" title="Выйти из личного кабинета" href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
    </nav>
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }

    <nav class="section-nav">
        @if ((User.Account != null) && (User.Account.IsAdmin))
        {
            active = (controller.StartsWith("News")) ? " active" : "";            
            @Html.ActionLink("Новости", "Manage", "News", null, new { Class = "section-nav-regular" + active })
            if (!active.IsEmpty())
            {
                <span class="section-nav-hilite">
                    <a class="section-nav-regular" href="@Url.Action("Add", "News")">добавить</a>
                </span>
            }
            active = (action.StartsWith("ParticipantsUr")) ? " active" : "";
            @Html.ActionLink("Участники (ЮЛ)", "ParticipantsUr", "Home", null, new { Class = "section-nav-regular" + active })
            if (!active.IsEmpty())
            {
                string cls1 = action == "ParticipantsUr" ? "active" : "";
                string cls2 = action == "ParticipantsUrInactive" ? "active" : "";
                <span class="section-nav-hilite">
                    <a class="section-nav-regular @cls1" href="@Url.Action("ParticipantsUr", "Home")">активные</a>
                    <a class="section-nav-regular @cls2" href="@Url.Action("ParticipantsUrInactive", "Home")">неактивные</a>
                </span>
            }
            active = (action.StartsWith("ParticipantsFiz")) ? " active" : "";
            @Html.ActionLink("Участники (ФЛ)", "ParticipantsFiz", "Home", null, new { Class = "section-nav-regular" + active })
            if (!active.IsEmpty())
            {
                string cls1 = action == "ParticipantsFiz" ? "active" : "";
                string cls2 = action == "ParticipantsFizInactive" ? "active" : "";
                <span class="section-nav-hilite">
                    <a class="section-nav-regular @cls1" href="@Url.Action("ParticipantsFiz", "Home")">активные</a>
                    <a class="section-nav-regular @cls2" href="@Url.Action("ParticipantsFizInactive", "Home")">неактивные</a>
                </span>
            }

            active = (action == "RegisterUr") ? " active" : "";
            @Html.ActionLink("Регистрация (ЮЛ)", "RegisterUr", "Account", null, new { Class = "section-nav-regular" + active })

            active = (action == "RegisterFiz") ? " active" : "";
            @Html.ActionLink("Регистрация (ФЛ)", "RegisterFiz", "Account", null, new { Class = "section-nav-regular" + active })

            
        }
        @{
        if (User.Account != null)
        {
            active = (action == "Requisites") ? " active" : "";
            @Html.ActionLink("Реквизиты", "Requisites", "Home", new { @id = person }, new { @class = "section-nav-regular" + active })           
           

            active = (action == "Outgoing") ? " active" : "";
            @Html.ActionLink("Исходящие", "Outgoing", "Home", new { @id = person }, new { Class = "section-nav-regular" + active })

            
        }
        else if (User.Individual != null)
        {
            active = (action == "RequisitesIn") ? " active" : "";
            @Html.ActionLink("Реквизиты", "RequisitesIn", "Home", new { @id = person }, new { @class = "section-nav-regular" + active })
        }
        if (action == "Outgoing")
        {
            if (User != null)
            {
                if (person != "")
                {
                <span class="section-nav-hilite">
                @for (int i = DateTime.Now.Year; i > 2009; --i)
                {
                    string cls = "";
                    if (ViewData["outgoing-year"] != null)
                    {
                        cls = ViewData["outgoing-year"].ToString() == i.ToString() ? "active" : "";
                    }
                    <a class="section-nav-regular @cls" href="@Url.Action("Outgoing/" + person + "/" + i, "Home")">@i</a>
                }
                </span>
                }
            }
            
        }
    if (User.Account != null)
    {
         active = (action == "Incoming") ? " active" : "";            
            @Html.ActionLink("Входящие документы", "Incoming", "Home", new { @id = person }, new { @class = "section-nav-regular" + active })

         active = (action == "OutgoingDoc") ? " active" : "";            
            @Html.ActionLink("Отправленные документы", "OutgoingDoc", "Home", new { @id = person }, new { @class = "section-nav-regular" + active })
    }


    if (User.Account != null)
    {
        active = (action == "Upload") ? " active" : "";
            @Html.ActionLink("Загрузить", "Upload", "Home", new { @id = person }, new { Class = "section-nav-regular" + active })
    }
        }
        @if ((User.Account != null) && (User.Account.IsAdmin))
        {
            active = (action == "Send") ? " active" : "";
            @Html.ActionLink("Отправить документ", "Send", "Home", new { @id = person }, new { Class = "section-nav-regular" + active })
        }        
    </nav>
}