﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Ошибка</h1>
    <h2 class="error">Во время обработки запроса произошла ошибка. Попробуйте обновить страницу или повторите запрос позднее.</h2>
</hgroup>
