﻿@model List<object>

@{
    ViewBag.Title = "Статус сервисов";
}

<table width="100%">
<thead>
@foreach (var obj in Model)
{
    if (obj is Monitoring.Controllers.AccountServiceGetInfo)
    {
        <th>Личный кабинет</th>
    }
    else
    {
        if (obj.GetType().FullName.Contains("SPOService"))
        {
            var stat = obj as Monitoring.SPOService.ServiceCoreInfo;
        <th>@stat.Name</th>
        }
        else if (obj.GetType().FullName.Contains("ReportService"))
        {
            var stat = obj as Monitoring.ReportService.ServiceCoreInfo;
            <th>@stat.Name</th>
        }
        else
        {
            var stat = obj as Account.Tools.MailService.ServiceCoreInfo;
            <th>@stat.Name</th>
        }
    }

}
</thead>
<tbody>
@foreach (var obj in Model)
{
    <td valign=top>
    @if (obj is Monitoring.Controllers.AccountServiceGetInfo)
    {
        var act = new HtmlString((obj as Monitoring.Controllers.AccountServiceGetInfo).IsActive ? "<text style='color: green'>Активен</text>" : "<text style='color: red'>Не активен</text>");
        var error = new HtmlString((obj as Monitoring.Controllers.AccountServiceGetInfo).Error);
        <div>Статус: @act</div>
        <div>@error</div>
        <div> </div>
        <div> </div>
        <div> </div>
        <div> </div>
    }
    else
    {
        if (obj.GetType().FullName.Contains("SPOService"))
        {
            var stat = obj as Monitoring.SPOService.ServiceCoreInfo;
            var act = new HtmlString(stat.IsActive ? "<text style='color: green'>Активен</text>" : "<text style='color: red'>Не активен</text>");
        <div>Статус: @act</div>
        <div>В очереди: @stat.Pending</div>
        <div>Обработано: @stat.Processed</div>
        <div>Успешно: @stat.Succeeded</div>
        <div>Провалено: @stat.Failed</div>
        <div>Ошибок: @stat.Errors</div>
        }
        else if (obj.GetType().FullName.Contains("ReportService"))
        {
            var stat = obj as Monitoring.ReportService.ServiceCoreInfo;
            var act = new HtmlString(stat.IsActive ? "<text style='color: green'>Активен</text>" : "<text style='color: red'>Не активен</text>");
        <div>Статус: @act</div>
        <div>В очереди: @stat.Pending</div>
        <div>Обработано: @stat.Processed</div>
        <div>Успешно: @stat.Succeeded</div>
        <div>Провалено: @stat.Failed</div>
        <div>Ошибок: @stat.Errors</div>
        }
        else
        {
            var stat = obj as Account.Tools.MailService.ServiceCoreInfo;
            var act = new HtmlString(stat.IsActive ? "<text style='color: green'>Активен</text>" : "<text style='color: red'>Не активен</text>");
        <div>Статус: @act</div>
        <div>В очереди: @stat.Pending</div>
        <div>Обработано: @stat.Processed</div>
        <div>Успешно: @stat.Succeeded</div>
        <div>Провалено: @stat.Failed</div>
        <div>Ошибок: @stat.Errors</div>
        }
    }
    </td>
}
</tbody>
</table>
